<div class="bg-white-only overflow-h" style="height: 100%;">
  <header id="header" class="navbar navbar-fixed-top bg-white-only borderbottom" data-spy="affix" data-offset-top="1">
    <div class="container">
      <div class="navbar-header">
        <button class="btn btn-link visible-xs pull-right m-r" type="button" data-toggle="collapse"
                data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand text-lt v-middle" href="/">
    <span class="hidden-folded m-l-xs"><img data-ng-src={{app.iconMedium}}
                                            style="max-height: 30px !important;"/></span>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="m-t-sm">
              <a href="" ui-sref="access.signin" class="btn btn-link btn-sm">Sign in</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div ui-view="" class="fade-in-right-big smooth ">
  </div>
  <footer id="footer" class="access-foot footer-bg text-white">
    <div class="dk">
        <div class="row m-t">
          <div class="col-xs-4 col-xs-offset-4 text-center text-white">
            MyJobs &copy; 2016 Copyright.
          </div>
        </div>
    </div>
  </footer>
</div>
