<!--<div class="container" ng-controller="SignInFormController" ng-init="app.settings.container = false;">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="row  b-r b-dashed no-border">
        <div class="col-lg-2 col-md-2">

        </div>
        <div class="col-lg-10 col-md-10">
          <div class="m-lg">
            &lt;!&ndash;<div class=" no-border" style="padding-bottom: 20px;"><img class="img-responsive m-b-sm m-t-sm" src="./img/simple.png"></div>
            <div class=" no-border" style="padding-bottom: 20px;"><img class="img-responsive m-b-sm m-t-sm" src="./img/addlife.png"></div>
            <div class=" no-border" style="padding-bottom: 20px;"><img class="img-responsive m-b-sm m-t-sm" src="./img/no-technical-skills.png"></div>&ndash;&gt;
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4" cg-busy="{promise:myPromise}">
      <div class="m-lg">
        <h3 class="text-warning-c m-t-lg m-b-lg h3">Forget Password</h3>

        <form name="forgetPasswordForm" ng-init="isCollapsed=true" ng-submit="forgotPassword(email)">
          <div class="text-danger wrapper text-center" ng-show="authError">
            {{authError}}
          </div>
          <div class="">
            <div class="form-group left-inner-addon">
              <img class=" img-responsive" src="./img/images_03.png">
              <input type="email" name="email" placeholder="Email" ng-model="email" class="form-control"
                     required>
              <small ng-show="forgetPasswordForm.email.$invalid && forgetPasswordForm.email.$dirty"
                     class="label label-danger"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Give
                your registered email
              </small>
            </div>

          </div>
          <button type="submit" ng-disabled="forgetPasswordForm.$invalid" class="btn btn-lg btn-warning btn-block"
                  ng-click="isCollapsed = !isCollapsed">Send
          </button>
        </form>
        <div collapse="isCollapsed" class="m-t">
          <div class="alert alert-success">
            <p>A reset link sent to your email address, please check it in 7 days.<br/> <a ui-sref="access.signin"
                                                                                           class="btn btn-sm btn-success">Signin</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="modal-content" cg-busy="{promise: myPromise}">
  <!--<div class="modal-header bg-primary">


  </div>-->
    <div class="modal-body" >
      <toaster-container toaster-options="{'time-out': 5000, 'close-button':true}"></toaster-container>
      <span class="text-info font-bold text-lg">Forgot Password?</span>
      <br/>
      <br/>
      <form name="forgetPasswordForm" ng-init="isCollapsed=true" ng-submit="">
        <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
        </div>
        <div class="text-sm wrapper " >
          <p>Enter your email address and we will
            send you a link to reset your password</p>
        </div>

        <div class="row ">
          <div class=" col-md-10">
          <div class="form-group left-inner-addon label-floating is-empty ">
            <label class="control-label">Email</label>
            <input type="email" name="email" ng-model="email" class="form-control bord-remove"
                   required>
            <small ng-show="forgetPasswordForm.email.$invalid && forgetPasswordForm.email.$dirty"
                   class="label label-danger"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Give
              your registered email
            </small>
          </div>

        </div>
        </div>


      </form>
      <div class="modal-footer">

        <button type="button"  class="btn btn-info" data-ng-disabled="forgetPasswordForm.$invalid"
                ng-click="forgotPassword(email)" style="background-color: #03a9f4">Ok
        </button>
        <button type="button" data-ng-click="cancel()" data-target=".bs-example-modal-lg"
                class="btn btn-warning">Cancel
        </button>
      </div>
      <div class="pull-right">

      </div>
    </div>
</div>
