<!--<toaster-container
  toaster-options="{'position-class': 'toast-top-right', 'showDuration':'200', 'hideDuration':'200','showMethod':'fadeIn','hideMethod':'fadeOut'}"></toaster-container>
<div class="container ">
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="row  b-r b-dashed no-border">
        <div class="col-lg-2 col-md-2">

        </div>
        <div class="col-lg-10 col-md-10">
          <div class="m-lg">
            <div class=" no-border" style="padding-bottom: 20px;"><img class="img-responsive m-b-sm m-t-sm" src="./img/simple.png"></div>
            <div class=" no-border" style="padding-bottom: 20px;"><img class="img-responsive m-b-sm m-t-sm" src="./img/addlife.png"></div>
            <div class=" no-border" style="padding-bottom: 20px;"><img class="img-responsive m-b-sm m-t-sm" src="./img/no-technical-skills.png"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="m-lg" cg-busy="{promise:myPromise}">
        <h3 class="text-warning-c m-t-lg m-b-lg h3">Create your new password</h3>

        <form name="resetpwdForm" class="form-validation" novalidate>
          <div class="text-danger wrapper text-center" ng-show="authError">
            {{ authError }}
          </div>
          <div class="list-group">
            <div class="form-group left-inner-addon">
              <img class=" img-responsive" src="./img/images_05.png">
              <input type="password" name="password" placeholder="password" class="form-control"
                     data-ng-model="user.password"
                     ng-minlength="6" ng-maxlength=18 required>

              <div class="error-container" ng-show="resetpwdForm.password.$dirty && resetpwdForm.password.$invalid">
                <small class="error label label-danger" ng-show="resetpwdForm.password.$error.required">Enter
                  strong Password
                </small>
                <small class="error label label-danger" ng-show="resetpwdForm.password.$error.minlength">Your password
                  is required to be at least 6 characters
                </small>
                <small class="error label label-danger" ng-show="resetpwdForm.password.$error.maxlength">Your password
                  cannot be longer than 18 characters
                </small>
              </div>
            </div>
            <div class="form-group left-inner-addon">
              <img class=" img-responsive" src="./img/images_05.png">
              <input type="password" name="confirmPassword" ng-minlength="6" placeholder="Confirm Password"
                     class="form-control"
                     data-ng-model="user.confirmPassword" ng-maxlength=18 required>
              <small ng-show="resetpwdForm.confirmPassword.$invalid && resetpwdForm.confirmPassword.$dirty"
                     class="label label-danger"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Type Password
                again
              </small>
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-warning btn-block" ng-click="resetPassword(user)"
                  ng-disabled='resetpwdForm.$invalid'>Submit
          </button>

          <div class="line line-dashed"></div>
          <div collapse="!isCollapsed" class="m-t">
            <div class="alert alert-success">
              <p>Your password successfully Changed. please login.<br/> <a ui-sref="access.signin"
                                                                           class="btn btn-sm btn-success">Signin</a></p>
            </div>
          </div>
          <div collapse="!resetError" class="m-t">
            <div class="alert alert-success">
              <p>Your password and confirm password not matched.<br/></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>-->
<div class="modal-content" cg-busy="{promise: myPromise}">
  <!--<div class="modal-header bg-primary">


  </div>-->
  <div class="modal-body" >
    <toaster-container toaster-options="{'time-out': 5000, 'close-button':true}"></toaster-container>
    <span class="text-info">Forgot Password ??</span>
    <br/>
    <br/>
    <form name="forgetPasswordForm" ng-init="isCollapsed=true" ng-submit="">
      <div class="text-danger wrapper text-center" ng-show="authError">
        {{authError}}
      </div>
      <div class="">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" ng-model="email" class="form-control"
                 required>
          <small ng-show="forgetPasswordForm.email.$invalid && forgetPasswordForm.email.$dirty"
                 class="label label-danger"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Give
            your registered email
          </small>
        </div>

      </div>


    </form>
    <div class="modal-footer">
      <button type="button" ng-disabled="forgetPasswordForm.$invalid" class="btn btn-info"
              ng-click="forgotPassword(email)">Ok
      </button>
      <button type="button" data-ng-click="cancel()" data-target=".bs-example-modal-lg"
              class="btn btn-primary">Cancel
      </button>
    </div>
    <div class="pull-right">

    </div>
  </div>
</div>
