
<div class="container">
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-8 col-md-8">
      <div class="row">
        <div class="col-lg-12 col-md-12 welcome-textt" >
          <h1 class="color-black">Welcome to<br> My Job</h1>
          <p class="col-lg-7 col-md-7 color-black p-txt">Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret drawings repeated recurred exercise laughing may you but. Do repeated whatever to welcomed absolute no. Fat surprise although outlived and informed shy dissuade property. Musical by me through he drawing savings an. No we stand avoid decay heard mr.
            Common so wicket appear to sudden worthy on. Shade of offer ye whole stood hoped.</p>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 bg-white-only" cg-busy="{promise:myPromise}" style="margin-top: 38px">
      <div class="m-md">
        <h3 class="color-black m-t-lg m-b-lg h3">Sign In</h3>
        <form name="signinForm" class="form-validation" novalidate >
          <md-content layout-padding>
          <div class="text-danger wrapper text-center" ng-show="authStatus">
            {{ authError }}
          </div>
          <div class="">
        <div class="form-group left-inner-addon  "  >
          <md-input-container class="md-block">
              <label  >Email Id</label>
              <input type="email" name="email" class="form-control bord-remove"
                     data-ng-model="user.email_id" ng-pattern='/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/im'
                     required>
            </md-input-container >
            </div>
            <div class="form-group left-inner-addon  " >
              <md-input-container class="md-block">
              <label >Password</label>
              <input type="password" name="password" ng-minlength="6"
                     class="form-control bord-remove"
                     data-ng-model="user.password" ng-maxlength="18" required>
                </md-input-container >
            </div>
          </div>
          <button type="submit" class="btn btn-lg btn-info btn-block sign-button" ng-click="logIn(user)"
                  ng-disabled='signinForm.$invalid'>Sign In
          </button>

          <div>
            <div class="text-center m-t m-b"><a ng-click="openModel()">Forgot Password?</a></div>
          </div>
</md-content>
        </form>
      </div>
    </div>
  </div>
</div>

