<div>
    <div data-ng-if="!isNewPossibility" class="text-right m-t-sm m-r-xs">
<div data-ng-if="isEditable || isNewPossibility ">
      <button ng-if="saleObject.possibility === 'MET'"  ui-sref="app.viewPossibility" class="btn btn-deafult data-button-cancel btn-text">Cancel</button>
      <button ng-if="saleObject.possibility === 'MET'" class="btn btn-primary data-button data-button-sub btn-text" data-ng-disabled="!isValid(createPossibilityForm.$valid)" data-ng-click="save()">Update</button>
</div>    <button class="btn btn-primary edit-button mrg-edit" data-ng-if="(saleObject.possibility === 'NOT_MET'||saleObject.possibility==='INACTIVE')" data-ng-click="editForm();"><i class="fa fa-pencil pencilicon-mrg"></i> Edit</button>
        <button ng-hide="isEditable || isNewPossibility" ng-if="saleObject.possibility === 'MET'" ui-sref="app.viewPossibility" class="btn btn-primary cancel-button data-button data-button-sub btn-text "> Close</button>
    </div>

    <div class="container col-md-12 pad-t-20" data-ng-class="disableForm()" data-cg-busy="{promise:myPromise,message:'Please Wait'}">
        <div class="panel panel-primary second-panel">
            <div class="panel-heading">
                <span>{{title}}</span>
            </div>
            <div>
                <div class="panel-body">
                    <div class="form-group pull-right mrg-formgrp mrg-top-apply">
                        <div class="col-md-6">
                            <div id="stat" class="form-group">
                                <label class="control-label">Status</label>
                                <div custom-select data="status" value="saleObject.possibility" class="select-poss"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-line">
                    <form name="createPossibilityForm" id="possibility" novalidate>
  <div id="noEdit">
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="col-md-6 form-custom-padding">
                                    <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">

                                        <label class="control-label">Legal Entity<span class="required-field">*</span></label>

                                        <input class="form-control" required data-ng-model="saleObject.client.legalName" type="text" tabindex="1" alpha-num>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label dropdown-col">Business Vertical<span class="required-field">*</span></label>

                                        <div custom-select data="businessVertical" value="saleObject.client.vertical" tabindex="3"></div>
                                    </div>
                                  <div class="form-group">
                                        <label class="control-label dropdown-col">Employee Size of the Company<span class="required-field">*</span></label>
                                        <div custom-select data="employeeSize" value="saleObject.client.employeeSize" tabindex="5"></div>
                                    </div>
                                    <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                        <label class="control-label">Website URL<span class="required-field">*</span></label>
                                        <input  class="form-control" required data-ng-model="saleObject.client.website" type="text" tabindex="7" ng-pattern='/^(www)[a-zA-Z0-9-\.]+\.[a-z]{2,4}/'>
<span ng-show=""></span>
                                    </div>
                                    <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                        <label class="control-label">Address 2</label>
                                        <input class="form-control" data-ng-model="saleObject.client.address.address2" type="text" tabindex="9">
                                    </div>
                                  <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                    <label class="control-label">State<span class="required-field">*</span></label>
                                    <input class="form-control" required data-ng-model="saleObject.client.address.state" type="text" tabindex="11" alphabets-only>

                                  </div>

                                  <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                  <label class="control-label">Zip Code<span class="required-field">*</span></label>
                                  <input class="form-control" required numbers-only maxlength="6" data-ng-model="saleObject.client.address.pin" type="text" tabindex="13">

                                </div>

                                </div>


                                <div class="col-md-6 form-custom-padding">
                                    <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                        <label class="control-label">Business Unit<span class="required-field">*</span></label>
                                        <input class="form-control" required data-ng-model="saleObject.client.businessUnit" type="text" tabindex="2" alpha-num>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label dropdown-col">Type of Customer<span class="required-field">*</span></label>
                                        <div custom-select data="customerType" value="saleObject.client.customerType" tabindex="4">
                                        </div>

                                    </div>
                                  <div class="form-group">
                                        <label class="control-label dropdown-col">Group Turnover<span class="required-field">*</span></label>
                                        <div custom-select data="groupTurnover" value="saleObject.client.turnover" tabindex="6">
                                        </div>

                                    </div>
                                    <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                        <label class="control-label">Address 1<span class="required-field">*</span></label>
                                        <input class="form-control" required data-ng-model="saleObject.client.address.address1" type="text" tabindex="8">

                                    </div>

                                    <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                        <label class="control-label">City<span class="required-field">*</span></label>
                                        <input class="form-control" required data-ng-model="saleObject.client.address.city " type="text" tabindex="10" alphabets-only>

                                    </div>
                                  <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                    <label class="control-label">Country<span class="required-field">*</span></label>
                                    <input class="form-control" required data-ng-model="saleObject.client.address.country" type="text" tabindex="12" alphabets-only>

                                  </div>
                                    <br>
                              <!--    <div class="form-group pull-right freeze-mrg">
                                    <input data-ng-model="createPossibility.freeze" type="checkbox" class="check freeze-check">
                                    <label class=" first-class2 " tabindex="14">Freeze</label>
                                  </div>

-->

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1" ng-if="isEditable">
                                    <div ngf-drop ngf-select="upload($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true"  >Drop Files Here</div>
                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                    <div data-cg-busy="{promise:uploadPromise,message:'Please Wait'}"></div>
                                </div>
                                <div class="col-md-10 col-md-offset-1" ng-if="isNewPossibility">
                                    <div ngf-drop ngf-select="upload($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" >Drop Files Here</div>
                                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                    <div data-cg-busy="{promise:uploadPromise,message:'Please Wait'}"></div>
                                </div>
                                <ul>
                                    <div ng-repeat="f in saleObject.documents" style="font:smaller"> {{f.$error}} {{f.$errorParam}}


                                        <div class="preview-div">
                                            <div class="col-md-2">
                                                <div class="previews">
                                                  <!--  <img ng-src="{{f.url}}" class="preview-img">-->
                                                    <a class="remove" data-ng-click="removeFilesDB($index)"></a>
                                                    <span tooltip="{{f.url | nameFilterTooltip}}">{{f.url | nameFilter}}</span>

                                                </div>
                                              <div class="form-group">
                                                <div class="preview-select" custom-select data="documentType" value="f.type">
                                                </div>
                                              </div>
                                                <div class="preview-select">


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </ul>
                                <ul>
                                    <div ng-repeat="f in uploadFiles" style="font:smaller"> {{f.$error}} {{f.$errorParam}}
                                        <div class="preview-div">
                                            <div class="col-md-2">
                                                <div class="previews">
                                                <!--    <img ng-src="{{f.url}}" class="preview-img">-->
                                                    <a class="remove" data-ng-click="removeFiles($index)"></a>
                                                    <span tooltip="{{f.name}}">{{::fileName}}</span>
                                                    <!--<p class="text-in">VOTER CARD</p>-->

                                                </div>
                                                <div class="form-group">
                                                <label class="control-label">Document Type</label>
                                                <div class="preview-select" custom-select data="f.documentTypeOptions" value="f.documentType">

                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <hr class="line-upload">
                        <h4 class="contact">Contact Details</h4>

                        <div ng-repeat="poc in saleObject.pointOfContacts" class="row col-md-12 noEdit" style="margin-top: -5px;">
                          <span class=" hand-cursor cross-contact" ng-click="removeContact($index)">
                          </span>
                           <div>
                             <accordion class="plus">
                                <accordion-group is-open="true">
                                    <accordion-heading>

                                        <span class="color-black">
            {{$index+1}}) <!--{{ poc.contactType}}--> Contact Person for Business
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon glyphicon-chevron-down': poc.isOpen, 'glyphicon glyphicon-chevron-right': !poc.isOpen}"></i>
          </span> </accordion-heading>
                                    <div class="col-md-6 form-custom-padding">
                                        <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                            <label class="control-label">Name<span class="required-field">*</span></label>
                                            <input class="form-control" required data-ng-model="poc.name" type="text" tabindex="15" alphabets-only>

                                        </div>

                                        <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                            <label class="control-label">Designation<span class="required-field">*</span></label>
                                            <input data-ng-model="poc.designation" required class="form-control" type="text" tabindex="17" alphabets-only>

                                        </div>

                                        <multi-checkbox title="Support Type" options="contactOptions" value="poc.supportType"></multi-checkbox>
                                        <div>
                                            <div class="form-group label-floating localadd-mrg" data-ng-class="{'is-empty':isNewPossibility}">
                                                <label class="control-label">Location<span class="required-field">*</span></label>
                                                <input required data-ng-model="poc.supportLocation" class="form-control" type="text" tabindex="22" alphabets-only>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6 form-custom-padding">
                                        <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                            <label class="control-label">Phone Number<span class="required-field">*</span></label>
                                            <input class="form-control" numbers-only minlength="10" maxlength="15" data-ng-model="poc.phone" required type="text" tabindex="16">

                                        </div>
                                        <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                            <label class="control-label">Email Id<span class="required-field">*</span></label>
                                            <input required data-ng-model="poc.email" class="form-control" type="email" ng-pattern='/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/im' tabindex="18">
                                        </div>
                                        <div class="form-group label-floating " data-ng-class="{'is-empty':isNewPossibility}">
                                            <label class="control-label">Department<span class="required-field">*</span></label>
                                            <input required data-ng-model="poc.department" class="form-control" type="text" tabindex="21" alpha-num>
                                        </div>

                                        <div ng-if="poc.contactType ==='PRIMARY'">
                                            <div class="form-group label-floating ">
                                                <label class="control-label">Type of Contact<span class="required-field">*</span></label>
                                                <input class="form-control" disabled data-ng-model="poc.contactType" required type="text">

                                            </div>
                                        </div>
                                        <div ng-if="poc.contactType !=='PRIMARY'" class=" form-group mrg-contacttype">
                                            <label class="control-label contactdrop-col">Contact Type</label>
                                            <div custom-select data="contactType" value="poc.contactType" tabindex="23">

                                            </div>
                                        </div>


                                    </div>


                                </accordion-group>
                            </accordion></div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary contacts-button mrg-contacts" tabindex="24" data-ng-click="getNewPointofContact()"><i class="fa fa-plus"></i> Contacts</button>
                        </div>
                        <hr class="line-upload">
                        <h4 class="contact">Discussion</h4>

                        <div ng-class="{'app-container-blur':!isNewPossibility}">
                            <div class="row noEdit">
                                <div class="col-md-12">
                                    <div class="col-md-6 form-custom-padding">
                                        <div id='dname' class="form-group label-floating is-empty">
                                            <label for="i1" class="control-label">Contact Person Name<span class="required-field">*</span></label>
                                            <input type="text" class="form-control" id="i1" ng-model="freshDiscussion.contactPerson" required tabindex="25" alphabets-only>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group col-md-9 present">
                                                <input type="text" tabindex="27" class="form-control hand-cursor" placeholder="Date" datepicker-popup="dd-MMMM-yyyy" ng-model="discussion.date" is-open="opened1" show-button-bar="false" ng-required="true" ng-click="open($event,'opened')" readonly>
                                                <span class="input-group-addon" id="basic-addon2">
            <img src="img/calendar_icon.png" class="calendar-img " alt="" /></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Mode of Discussion<span class="required-field">*</span></label>
                                            <div custom-select data="typeOfDiscussion" value="freshDiscussion.mode" tabindex="29"></div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 form-custom-padding">
                                        <div id='dvenue' class="form-group label-floating is-empty">
                                            <label for="i7" class="control-label">Venue<span class="required-field">*</span></label>
                                            <input type="text" class="form-control" id="i7" ng-model="freshDiscussion.venue" required tabindex="26" ng-pattern="/^[a-z\d\-_\s]+$/i" alpha-num>
                                        </div>
                                        <div class="form-group" ng-if="isNewPossibility">
                                            <div class="input-group col-md-9">
                                                <input type="time" class="form-control" id='myTime' placeholder="Time" ng-model="discussion.time"  tabindex="28" value='00:00'>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="!isNewPossibility">
                                            <div class="input-group col-md-9">
                                                <input type="text" class="form-control" id='myTime' placeholder="Time" ng-model="discussion.time"  >

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 upward">
                                    <label for="textArea" class=" mrg-label ">
                                        <h3>Discussion Summary <span class="required-field">*</span></h3></label>
                                    <textarea class="form-control mrg-textarea no-resize" rows="3" id="textArea" ng-model="freshDiscussion.summary" required tabindex="30" alphnum-dot></textarea>
                                </div>
                            </div>
                            <div class="row" ng-if="isNewPossibility">
                              <div data-cg-busy="{promise:uploadsPromise,message:'Please Wait'}"></div>
                                <div class="col-md-6 form-custom-padding">
                                    <div class="form-group is-empty is-fileinput">
                                        <input type="file" id="inputFile4" ngf-select="uploads($file)" ng-model="file" ngf-multiple="true" tabindex="31" >
                                        <div class="input-group">
                                            <input type="text" readonly="" id="inputText" class="form-control" placeholder="No selected file" >
                                            <span class="input-group-btn input-group-sm">
                   <button type="button" class="btn warm-status btn-sm btn-text" class='app-container-blur'>
                    <i class="fa fa-paperclip">&nbsp;&nbsp;Attach File</i>
                  </button>
                </span>
                                        </div>
                                        <span class="material-input control-label ">Supported file formats are DOC & PNG.</span>
                                    </div>
                                   </div>
                              <ul class="preview-file">
                                <div ng-repeat="f in uploadFile" style="font:smaller"> {{f.$error}} {{f.$errorParam}}
                                  <div class="preview-div">
                                    <div class="col-md-2">
                                      <div class="previews">
                                        <span tooltip="{{f.name}}">{{::fileName}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ul>
                            </div>

                            <div class="up-margin" >
                              <ul>
                                <div ng-repeat="f in saleObject.discussions[0].documents" style="font:smaller"> {{f.$error}} {{f.$errorParam}}
                                  <div class="preview-div">
                                    <div class="col-md-2">
                                      <div class="previews">
                                        <span tooltip="{{f.url | nameFilterTooltip}}">{{f.url | nameFilter}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ul>
                             <!--   <ul>
                                    <li ng-repeat="f in createPossibility.discussion.documents" style="font:smaller">{{f.name?f.name:f.type}} {{f.$error}} {{f.$errorParam}}
                                        <img ng-src="img/Attach-icon.png" class="thumb"> {{f.type}}</li>
                                </ul>-->
                            </div>

                        </div>
  </div>
                        <div class="col-md-6 form-custom-padding">
                        </div>
                        <div data-cg-busy="{promise:savePromise,message:'Please Wait'}"></div>
                        <div data-cg-busy="{promise:createPromise,message:'Please Wait'}"></div>
                        <div class="col-md-12" data-ng-if="isEditable || isNewPossibility ">
                            <div class="form-group text-center">
                                <button ui-sref="app.viewPossibility" class="btn btn-deafult data-button-cancel btn-text">Cancel</button>
                                <button class="btn btn-primary data-button data-button-sub btn-text" data-ng-disabled="!isValid(createPossibilityForm.$valid)" data-ng-click="save()">{{isNewPossibility?'Submit':'Update'}}</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


