<div class="modal-content">
  <div class="modal-header header-name summary">
    <span> CLIENT CREATION  </span>
    <button type="button" ng-click="cancel()" data-target=".bs-example-modal-lg"
            class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 1000px;">
    <div class=" " ng-form="createClientForm">
      <form name="createClientForm" >
        <div class="row">
        <div class="col-md-6" >
          <div class="form-group">
            <input type="text" name="legalEntity" placeholder="Legal Entity" 
                   class="form-control bord-remove" 
                   data-ng-model="formData.legal_name" required>
            
          </div>
          <div class="form-group">
            <input type="text" name="shortName"  placeholder="Short Name" 
                   class="form-control bord-remove"
                   data-ng-model="formData.short_name" required>
           
          </div>
          <div class="form-group">
            <input type="text" name="location"  placeholder="Location" 
                   class="form-control bord-remove" 
                   data-ng-model="formData.clientUnit.location" required>
           
          </div>
        </div>
        <div class="col-md-6" >
          <div class="form-group">
            <input type="text" name="unitName" placeholder="Unit Name" 
                   class="form-control bord-remove" 
                   data-ng-model="formData.clientUnit.unit_name" required>
            
          </div>
          <div class="form-group">
            <input type="text" name="division"  placeholder="Division" 
                   class="form-control bord-remove"
                   data-ng-model="formData.clientUnit.division" required>
           
          </div>
          
        </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button"
               ng-click="cancel()"> Cancel
      </button>
      <button ng-click="createClient(formData)" ng-disabled="createClientForm.$invalid" class="btn btn-success" >
        Done
      </button>
    </div>
    </div>
  </div>
</div>
