
         <div class="container">
               

                <div class="panel panel-primary second-panel">
                    <div class="panel-heading">
                     New Possibility
                    </div>
                     <div>
                    <div class="panel-body" >
                    <form name="createPossibilityForm" >
					
                        <div class="row">
                        <div class="col-md-6">

                        <div class="form-group  ">
                            <input class="form-control bord-remove"  typeahead="data for data in getLegalEntity($viewValue)" required  data-ng-model="createPossibility.legal_name" type="text" placeholder="Legal Entity*">
                             
          </div>
                        
                            <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.division" type="text" placeholder="Division Name*">
                            
          </div>
                           
                            
          <div class="form-group" custom-select data="businessVertical"></div>
          <div class="form-group" custom-select data="employeeSize"></div>

          
                             <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.address.address_line_1 " type="text" placeholder="Address line 1*">
          </div>
                             <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.address.city " type="text" placeholder="City*">
          </div>
                           <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.address.pin" type="text" numbers-only placeholder="Zipcode*">
          </div>  

                    </div>

                         <div class="col-md-6">
                <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.unit_name" type="text" placeholder=" Business Unit *">
                </div>
                  <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.url" type="text" placeholder="Website URL*">     
                              </div>
                              <div class="form-group" custom-select data="groupTurnover">
                            
          </div>
          <div class="form-group" custom-select data="customerType">
                            
          </div>
                              <div class="form-group">
                            <input class="form-control bord-remove"  data-ng-model="createPossibility.address.address_line_2" type="text" placeholder="Address line 2">
          </div>
                              <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.address.state" type="text" placeholder="State*">
          </div>
               <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.address.country" type="text" placeholder="Country*">
          </div>
          <div class="form-group">
                            <button class="btn btn-primary contacts-button pull-right"><i class="fa fa-plus"></i> Contacts</button>
                        </div>
                        
                              
                    </div>

                    </div>
                                                        <div class="row">
                            <div class="col-md-12">
                             <div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf"
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>

                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                            <input class="form-control bord-remove" data-ng-model="createPossibility.point_of_contacts[0].name" type="text" required placeholder="Contact Person Name*">
          </div>
                <div class="form-group">
                            <input class="form-control bord-remove" data-ng-model="createPossibility.point_of_contacts[0].designation" required type="text" placeholder="Contact Person Designation*">
          </div>
                                <div class="form-group">
                                    <label class="contacts">Contacts Provides</label>
                                    <input type="checkbox" ng-model="remote" class="check">
                                    <label class="remote">Remote</label>
                                    <input type="checkbox" ng-model="local" class="check">
                                    <label class="location">Location</label>
                                </div>
                            </div>
                            <div class="col-md-6">

                <div class="form-group">
                            <input class="form-control bord-remove" data-ng-model="createPossibility.point_of_contacts[0].phone" type="text" numbers-only required placeholder="Contact Person Phone Number*">
          </div>
                   <div class="form-group">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.point_of_contacts[0].email_id" type="text" placeholder="Email Id*">
          </div>
                           
          </div>
                          </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group col-md-12">
                            <input class="form-control bord-remove" required data-ng-model="createPossibility.point_of_contacts[0].support_location" type="text" placeholder="Remote Location*">
          </div>

                        </div>
                        
                         <div class="col-md-6 col-md-offset-5">
                        <div class="form-group">
                            <button class="btn btn-primary data-button" >Cancel</button><button class="btn btn-primary data-button" data-ng-disabled="!isValid(createPossibilityForm.$valid)"
                             data-ng-click="save(createPossibility)" >Submit</button>
                            </div>
                        </div>
                        </div>

                        </form>
                     </div>
                </div>
        </div>
            </div>
