<div class="form-group">
    <label class="contacts">{{title}}<span class="required-field">*</span></label>

    <input type="checkbox" ng-model="options[0].value" class="check remote-check" tabindex="19" id="input-confidencial" ng-change="onChecked()">
    <label class="remote" for="input-confidencial">{{options[0].label}}</label>
    <input type="checkbox" ng-model="options[1].value" class="check local-check" tabindex="20" id="input-confidencial1"  ng-change="onChecked()">
    <label class="location" for="input-confidencial1">{{options[1].label}}</label>
</div>