<div class="maincol-apply" >
  <div class="container all-dateinputs">
    <div class="pull-right">
      <form id="form" name="form" class="form-inline">
        <div class="form-group">
          <label for="startDate">From</label>
          <div class="input-group">
            <input id="startDate" type="text" class="form-control" aria-describedby="basic-addon1"/>
            <span class="input-group-addon" id="basic-addon1">
            <img src="img/calendar_icon.png" alt=""/></span>
          </div>

          <label for="endDate">To</label>
          <div class="input-group">
            <input id="endDate" type="text" class="form-control" aria-describedby="basic-addon2"/>
            <span class="input-group-addon" id="basic-addon2">
            <img src="img/calendar_icon.png" alt=""/></span>
          </div>
          <button class="btn btn-primary filter">Filter</button>
        </div>
        `
      </form>
    </div>
  </div>
  <div class="container content" data-cg-busy="{promise:myPromise,message:'Retriving Possibilities'}">
    <div class="panel panel-primary pan-col">
      <div class="panel-heading summary">Summary in the month of April 2016</div>
      <div class="panel-body">
        <div class="detailsContent">
          <div class="detailsContentDiv">
            <div class="listDetails">
              <div class="listDetailsContent">
                <div class="col-md-3 orange">
                  <img src="img/icon_met.png" alt="" class="center-block img-pad"/>
                </div>
                <div class="col-md-9 text-center">
                  <div class="met">MET</div>
                  <div class="met-num">10</div>
                </div>
              </div>
            </div>
            <div class="listDetails">
              <div class="listDetailsContent">
                <div class="col-md-3 orangemet">
                  <img src="img/icon_not met.png" alt="" class="center-block img-pad"/>
                </div>
                <div class="col-md-9 text-center">
                  <div class="notmet">NOT MET</div>
                  <div class="met-num">6</div>
                </div>
              </div>
            </div>
            <div class="listDetails">
              <div class="listDetailsContent">
                <div class="col-md-3 orangeactive">
                  <img src="img/icon-inactive.png" alt="" class="center-block img-pad"/>
                </div>
                <div class="col-md-9 text-center">
                  <div class="inactive">INACTIVE</div>
                  <div class="met-num">4</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            <div class="form-group pull-right">
                <button class="btn btn-primary filter" ui-sref="app.createPossibility"><i class="fa fa-plus"></i> New Possibility</button>
            </div>
            <div class="possibilities">
                <h4 class="pull-left head">All Possiblities
                    <span class="pull-right col-md-4">
                    <div class="input-group">
  <input type="text" class="form-control" placeholder="Search By Location,Company Name,Contact"
         aria-describedby="basic-addon3">
  <span class="input-group-addon" id="basic-addon3"><i class="fa fa-search"></i></span>
</div></span></h4>
    </div>
    <table class="table table-striped table-bod">
      <thead class="table-head">
      <tr>
        <th>Legal Entity</th>
        <th>Business Unit</th>
        <th>Location</th>
        <th>Contact Person</th>
        <th>Contact Designation</th>
        <th>Contact Number</th>
        <th>Status</th>
        <th>Discussions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="possibility in data.possibilities">
        <td>{{possibility.legal_name}}</td>
        <td>{{possibility.client_unit_name}}</td>
        <td>{{possibility.city}}</td>
        <td>{{possibility.pocs[0].name}}</td>
        <td>{{possibility.pocs[0].designation}}</td>
        <td>{{possibility.pocs[0].phone}}</td>
        <td>
          <p class="btn btn-default buttons">{{possibility.status}}</p>
        </td>
        <td>
          <button class="btn btn-default buttonslast">New Call</button>
        </td>
      </tr>
      
      </tbody>
    </table>
     <pagination class="pagination-sm m-n pull-right"
                                page ="data.currentPage"
                                total-items="data.totalItems"
                                ng-model="data.currentPage"
                                ng-change ="getPossibilities(data.currentPage,data.numPerPage)"
                                max-size="4"
                                items-per-page="data.numPerPage"
                                rotate="false"
                                boundary-links="false">
                                </pagination>
  </div>

</div>
