<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span >Navigation</span>
    </li>
    <!--<li>
        <a ui-sref="app.category.view" class="auto">

            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Categories</span>
        </a>
    </li>-->
    <!--<li>
        <a ui-sref="app.cue.view" class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Cues</span>
        </a>
    </li>-->


    <li>
      <a ui-sref="app.operations.dashboard" class="auto">
        <i class="glyphicon glyphicon-list-alt text-primary-dker" title="Dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>

  <li ng-if="role == 'admin'">
    <a ui-sref="app.operations.workorder" class="auto active">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="Work Orders"></i>
      <span>Work Orders</span>
    </a>
  </li>

  <li ng-if="role == 'admin'">
    <a ui-sref="app.operations.workmodule" class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="Work Modules"></i>
      <span>Work Modules</span>
    </a>
  </li>

  <li ng-if="role == 'artist'">
    <a ui-sref="app.operations.myWorkModules" class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="My Modules"></i>
      <span>My Modules</span>
    </a>
  </li>
  <!--<li ng-if="role == 'artist'">
    <a ui-sref="app.operations.openWorkModules" class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="Open Work Orders"></i>
      <span>Open Work Orders</span>
    </a>
  </li>-->

  <li ng-if="role == 'admin'">
    <a ui-sref="app.operations.viewSubmissions" class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="View Submissions"></i>
      <span>View Submissions</span>
    </a>
  </li>
  <li ng-if="role == 'admin'">
    <a ui-sref="app.asset.view" class="auto ">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="Accepted Assets"></i>
      <span>Accepted Assets</span>
    </a>
  </li>
  <li ng-if="role == 'admin'">
    <a ui-sref="app.userManagement.view"  class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
      <span>User Management</span>
    </a>
  </li>
  <li ng-if="role == 'admin'">
    <a ui-sref="app.notifications"  class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
      <span>Notifications</span>
    </a>
  </li>
  <li ng-if="role == 'admin'">
    <a ui-sref="app.storiesAssets.view" class="auto">
      <i class="glyphicon glyphicon-list-alt text-primary-dker" title="Create Assets"></i>
      <span>Create Assets</span>
    </a>
  </li>
  <li ng-if="role == 'admin'">
    <a ui-sref="app.announcement.view" class="auto">
        <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
        <span>Announcements</span>
    </a>
  </li>
  <li ng-if="role == 'admin'">
    <a ui-sref="app.analytics"  class="auto">
        <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
        <span>Analytics</span>
    </a>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
        <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
        <span>Payments</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
          <a href="" >
              <span>Payments History</span>
          </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.operations.paymentHistoryAll">
          <span>All</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="role == 'admin'">
        <a ui-sref="app.operations.paymentHistoryArtist">
          <span>Artist</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="role == 'artist'">
        <a ui-sref="app.operations.paymentHistoryArtistModule">
          <span>Module Level</span>
        </a>
      </li>
    </ul>
  </li>
    <!--<li>
        <a href class="auto">
      <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Operations</span>
        </a>
        <ul class="nav nav-sub dk">
          <li class="nav-sub-header">
              <a href="" >
                  <span>Operations</span>
              </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="app.operations.dashboard">
                  <span>Dashboard</span>
              </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="app.operations.workorder">
                  <span>Work Orders</span>
              </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="app.operations.workmodule">
                  <span>Work Modules</span>
              </a>
          </li>
          <li ui-sref-active="active">
              <a ui-sref="app.operations.myAssignments">
                  <span>My Assignments</span>
              </a>
          </li>
          <li ui-sref-active="active">
          <a ui-sref="app.operations.viewSubmissions">
            <span>View Submissions</span>
          </a>
          </li>
        </ul>
    </li>-->
    <!--<li>
        <a ui-sref="app.bbcanvas.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Canvas</span>
          <br>
            <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;A trail Run</span>
        </a>
    </li>-->
    <!--<li>
        <a ui-sref="app.role.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Roles</span>
        </a>
    </li>-->
    <!--<li>
        <a ui-sref="app.right.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Rights</span>
        </a>
    </li>-->
</ul>
<!-- / list -->
