<div class="aside-wrap bg-dark">
    <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    -->
    <div class="navi-wrap">
        <nav ui-nav class="navi" ng-include="'js/app/user/views/nav.html'"></nav>
        <!-- user -->
        <ul class="dropdown-menu animated fadeInRight w hidden-folded">
             <li class="wrapper b-b m-b-sm bg-info m-t-n-xs side-pad">
               <span class="arrow top hidden-folded arrow-info"></span>
               <div>
                 <p>300mb of 500mb used</p>
               </div>
               <progressbar value="60" type="white" class="progress-xs m-b-none dker"></progressbar>
             </li>
             <li>
               <a href>Settings</a>
             </li>
             <li>
               <a ui-sref="app.page.profile">Profile</a>
             </li>
             <li>
               <a href>
                 <span class="badge bg-danger pull-right">3</span>
                 Notifications
               </a>
             </li>
             <li class="divider"></li>
             <li>
               <a ui-sref="access.signin">Logout</a>
             </li>
           </ul>

        <!-- / dropdown -->
        <!-- / aside footer -->
    </div>
</div>
