<div class="modal-content" cg-busy="{promise: myPromise}">
  <div class="modal-header header-name summary">
    <span > Change Password </span>
    <button type="button" ng-click="cancel()" data-target=".bs-example-modal-lg"
            class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 1000px;">
    <div class=" " ng-form="changePasswordForm">
      <form name="changePasswordForm" novalidate="novalidate">
        <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
        </div>
        <div class="col-padding-class">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Old Password</label>
            <input type="password" name="oldPassword"  ng-minlength="6"
                   class="form-control" ng-maxlength="18"
                   data-ng-model="formData.old_password" required>
            <small ng-show="changePasswordForm.oldPassword.$invalid && changePasswordForm.oldPassword.$dirty"
                   class="label label-danger">Incorrect Old Password

            </small>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">New Password</label>
            <input type="password" name="newPassword" id="newPassword" ng-minlength="6" ng-maxlength="18"
                   class="form-control"
                   data-ng-model="formData.new_password" required>
            <small ng-show="changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty"
                   class="label label-danger"> New Password min 6 and max 18 characters
            </small>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" >Confirm Password</label>
            <input type="password" name="confirmPassword" same-as="newPassword"  ng-minlength="6"
                   class="form-control" ng-maxlength="18"
                   data-ng-model="confirmPassword" required>
            <small ng-show="changePasswordForm.confirmPassword.$error.matchpassword"
                   class="label label-danger">Type same Password
            </small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" type="button"
              ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(formData)"><i class="fa fa-floppy-o"></i>&nbsp; Change
      </button>
      <button class="btn btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i>&nbsp;
        Close
      </button>
    </div>
  </div>
</div>
