<section style="overflow-y:auto;">


<div class="panel-heading">Create Possibility</div>
    <div class="col-lg-12">
        <form name="createPossibilityForm" role="form">
            <div class="col-lg-5 create-possibility" >
						<input type="text" class="form-control " name="InputName"  placeholder="Comapany Name" required>
                  
                        <textarea name="InputMessage" placeholder="Employee size of the comapany"  class="form-control" rows="5" required></textarea>
                   
                       <textarea name="InputMessage" placeholder="Type of Customer"  class="form-control " rows="5" required></textarea>

                        <input type="email" class="form-control"  name="InputEmail" placeholder="Address 2"  required>
               
                        <textarea name="InputMessage" id="InputMessage" class="form-control " rows="5" required></textarea>
            </div>
             <div class="col-lg-5 col-lg-offset-1  create-possibility">
						<input type="text" class="form-control" name="WebsiteUrl"  placeholder="Website URL" required>
                  
                        <input type="email" class="form-control"  name="GrossTurnover" placeholder="Gross Turnover"  required>
                   
                        <input type="email" class="form-control "  name="InputEmail" placeholder="Confirm Email" required>
               
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
            </div>
             <div class="col-lg-10 col-lg-offset-1 attachment-box">
             </div>
             <div class="col-lg-12" style="background-color: white" >
             <div class="col-lg-5  pull-left create-possibility" >
						<input type="text" class="form-control " name="InputName"  placeholder="Comapany Name" required>
                  
                        <textarea name="InputMessage" placeholder="Employee size of the comapany"  class="form-control" rows="5" required></textarea>
                   
                       <textarea name="InputMessage" placeholder="Type of Customer"  class="form-control " rows="5" required></textarea>

                        <input type="email" class="form-control"  name="InputEmail" placeholder="Address 2"  required>
               
                        <textarea name="InputMessage" id="InputMessage" class="form-control " rows="5" required></textarea>
            </div>
            </div>

        </form>
        
    </div>

</section>
