<div class="maincol-apply">
  <div class="container all-dateinputs">

    <div class="container col-md-12 pad-t-20 maincol-apply">
      <div class="panel panel-primary pan-col">
        <div class="panel-heading summary">Summary for the year of April 2016 to March 2017</div>
        <div class="panel-body">
          <div class="detailsContent">
            <div class="detailsContentDiv">
              <div class="listDetails">
                <div class="listDetailsContent bord-target">
                  <div class="col-md-3 target-header-color">
                    <img src="img/icon_target.png" alt="" class="center-block img-pad"/>
                  </div>
                  <div class="col-md-5 text-center color-divs">
                    <div class="met-target">TARGET</div>
                    <div class="met-num">10</div>
                  </div>
                </div>
              </div>
              <div class="listDetails">
                <div class="listDetailsContent bord-prospect">
                  <div class="col-md-3 target-header-color ">
                    <img src="img/icon_prospect.png" alt="" class="center-block img-pad"/>
                  </div>
                  <div class="col-md-5 text-center color-divs">
                    <div class="met-prospect">PROSPECT</div>
                    <div class="metprospect-num">10</div>
                  </div>
                </div>
              </div>
              <div class="listDetails">
                <div class="listDetailsContent bord-empanelment">
                  <div class="col-md-3 target-header-color ">
                    <img src="img/icon_empanelment.png" alt="" class="center-block img-pad"/>
                  </div>
                  <div class="col-md-5 text-center color-divs">
                    <div class="empanel-col">EMPANELMENT</div>
                    <div class="met-num">10</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="panel graph-background">
        <div class="pull-right overall-pad">
          <form id="form" name="form" class="form-inline" novalidate>
            <div>
              <input type="text" class="form-control bord-given" aria-describedby="basic-addon1">
             <div class="calendar-reset"><img src="img/calendar_icon.png" alt=""/></div>
            </div>
            <div class="second-dateinput">
              <label  class="labels-dates poss-mrg">To</label>
              <input type="text" class="form-control bord-given" aria-describedby="basic-addon1">
              <div class="secondcalendar-reset"><img src="img/calendar_icon.png" alt=""/></div>
            </div>

            <button class="btn btn-primary btn-raised filter mrg-top refactor">Submit</button>
          </form>
        </div>

        <nvd3 class="graph"options="options" data="data"></nvd3>

      </div>
    </div>
</div>
</div>
