<!-- list -->
<ul class="nav">

    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.HEADER">Navigation</span>
    </li>
    <li>
        <a ui-sref="app.announcement.view" class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Announcement</span>
        </a>
    </li>

    <li>
        <a ui-sref="app.asset.view" class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Assets</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.category.view" class="auto">

            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Categories</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.cue.view" class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Cue</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.userManagement.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>User Management</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.notifications"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Notifications</span>
        </a>
    </li>
    <li>
        <a href class="auto">
      <span class="pull-right text-muted">
          <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Operations</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href="" >
                    <span>Operations</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.operations.dashboard">
                    <span>Dashboard</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.operations.workorder">
                    <span>Work Orders</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.operations.workmodule">
                    <span>Work Modules</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.operations.myAssignments">
                    <span>My Assignments</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a ui-sref="app.bbcanvas.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Canvas</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.role.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Roles</span>
        </a>
    </li>
    <li>
        <a ui-sref="app.right.view"  class="auto">
            <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
            <span>Rights</span>
        </a>
    </li>
</ul>
<!-- / list -->