<!-- list -->
<ul class="nav list-pad">
  <span class="height-navBar"></span>
  <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
      <span translate="aside.nav.HEADER">Navigation</span>
  </li>-->
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard" class="auto">
      <img src="img/home_icon_unselected.png" class="img-mg"> &nbsp;
      <span>Dashboard</span>
      <span ui-sref="app.boardadmin" class="auto" data-ng-hide="true"></span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.viewPossibility" class="auto">
      <img src="img/possibility.png"> &nbsp;
      <span>Possibility</span>
    </a>
    <span ui-sref="app.createPossibility" class="auto" data-ng-hide="true"></span>

  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.suspect-view" class="auto">
      <img src="img/suspect.png"> &nbsp;
      <span>Suspect</span>
    </a>
    <span ui-sref="app.create-suspect-view" class="auto" data-ng-hide="true"></span>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.viewProspect" class="auto">
      <img src="img/prospect.png"> &nbsp;
      <span>Prospect</span>
    </a>
    <span ui-sref="app.create-prospect" class="auto" data-ng-hide="true"></span>
    <span ui-sref="app.Requirements" class="auto" data-ng-hide="true"></span>

  </li>


  <li ui-sref-active="active">
    <a ui-sref="app.viewEmpanelment" class="auto">
      <img src="img/empanelment.png"> &nbsp;
      <span>Empanelment</span>
    </a>
    <a ui-sref="app.createEmpanelment" data-ng-hide="true"></a>
    <span ui-sref="app.slaTracker" data-ng-hide="true"></span>
    <span ui-sref="app.slaTracker-step2" data-ng-hide="true" ></span>


  </li>

</ul>
<!-- / list -->
