<!-- list -->
<ul class="nav">
    <span class="height-navBar"></span>
    <!--<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span translate="aside.nav.HEADER">Navigation</span>
    </li>-->
  <li>
    <a ui-sref="app.announcement.view" class="auto">
      <img src="img/dashboard.png" > &nbsp;
      <span>Dashboard</span>
    </a>
  </li>

  <li>
    <a ui-sref="app.viewPossibility" class="auto">
      <img src="img/possibility.png" > &nbsp;
      <span>Possibility</span>
    </a>
  </li>

  <li>
    <a ui-sref="app.category.view" class="auto">
      <img src="img/suspect.png" > &nbsp;
      <span>Suspect</span>
    </a>
  </li>

  <li>
    <a ui-sref="app.cue.view" class="auto">
      <img src="img/prospect.png" > &nbsp;
      <span>Prospect</span>
    </a>
  </li>

  <li>
    <a ui-sref="app.userManagement.view"  class="auto">
      <img src="img/empanelment.png" > &nbsp;
      <span>Empanelment</span>
    </a>
  </li>

</ul>
<!-- / list -->
