<div class="">
  <form>
    <div class="addDiscusHeading modal-header ">
      <h3 class="modal-title "> Add Contact</h3></div>

    <div class="modal-body ng-binding ng-scope ">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" >
            <label for="s1">Contact Type</label>
            <select id="s1" class="form-control">
              <option value="Business">Business</option>
              <option value="Finance">Finance</option>
              <option value="Invoice">Invoice</option>
            </select>
          </div>
          <div class="form-group" >
            <label for="s1">Support Type</label>
            <select id="s1" class="form-control">
              <option value="Primary">Primary</option>
              <option value="Escalation">Escalation</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="centerBtn">
            <a href="javascript:void(0)" class="btn btn-raised btn-default" ng-click="ok()">Cancle</a>&nbsp;
            <a href="javascript:void(0)" class="btn btn-raised btn-info" ng-click="cancel()">Submit</a>
          </div>
      </div>
      </div>
    </div>
  </form>
</div>
