<div class="container">
  <div class="panel panel-default second-panel up-margin ">
    <div class="panel-title  panel-heading ">
      Suspect
    </div>
    <div class="panel-body  ">
      <div class="form-group pull-right">
        <div class="col-md-8">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Status">
            <div id="grad1-status"></div>
          </div>
        </div>
      </div>
      <hr class="line1">
      <div class="row ">
        <div class="col-lg-10 ">
          <accordion>
            <accordion-group is-open="status.open">
              <accordion-heading >
          <span class="color-black ">
          1) Primary Contact Person For Business
          <i class="pull-right glyphicon" ng-class="{' glyphicon-minus': status.open, ' glyphicon-plus': !status.open}">
            </i>
            </span>
              </accordion-heading>
              <div class="row">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating is-empty">
                    <label class="control-label">Contact Person</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" placeholder="Contact Person Designation">
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <div class="col-lg-1 ">
          <a href="javascript:void(0)" class="btn btn-raised btn-info btn-md glyphicon glyphicon-plus"
             ng-click="createContact()"> Contact</a>
        </div>
        <div class="col-lg-10">
          <accordion>
            <accordion-group is-open="status.open">
              <accordion-heading>
            <span class="color-black">
            2) Escalation Contact Person For Business
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
         </span></accordion-heading>
              <div class="row">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating is-empty">
                    <label class="control-label">Contact Person</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" placeholder="Contact Person Designation">
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6 col-pad">
                  <div class="form-group">
                    <label class="contacts">Contacts Provides</label>
                    <input type="checkbox" class="check">
                    <label>Remote</label>
                    <input type="checkbox" class="check">
                    <label>Local</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-pad">
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" placeholder="Remote Location">
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <div class="col-lg-10">
          <accordion>
            <accordion-group is-open="status.open">
              <accordion-heading>
            <span class="color-black">
            3) Primary Contact Person For Finance
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
          </span></accordion-heading>
              <div class="row">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating is-empty">
                    <label class="control-label">Contact Person</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" placeholder="Contact Person Designation">
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <div class="col-lg-10">
          <accordion>
            <accordion-group is-open="status.open">
              <accordion-heading>
            <span class="color-black">
            4) Primary Contact Person For Invoice
            <i class="pull-right glyphicon"
               ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
          </span></accordion-heading>
              <div class="row">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating is-empty">
                    <label class="control-label">Contact Person</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" placeholder="Contact Person Designation">
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <div class="col-md-6">
          <h4 class="color-black">Roll out of a proposal</h4>
          <div class="form-group is-empty is-fileinput">
            <input type="file" id="inputFile4" multiple="">
            <div class="input-group">
              <input type="text" readonly="" class="form-control" placeholder="No selected file">
                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status btn-sm glyphicon glyphicon-paperclip">
                  <i class="material-icons">attach file</i>
                  </button>
                </span>
            </div>
            <span class="material-input control-label">Supported file format PDF,DOC,PPT.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-5">
        <div class="form-group">
          <a ui-sref="app.suspect-view">
          <button class="btn btn-primary data-button">Cancel</button>
          </a>
          <button class="btn btn-primary data-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
