<div class="container">
  <div class="panel panel-default second-panel up-margin ">
    <div class="panel-title  panel-heading ">
      Suspect
    </div>
    <div class="panel-body  ">
      <div class="form-group pull-right">
        <div class="col-md-8">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Status">
            <div id="grad1-status"></div>
          </div>
        </div>
      </div>
      <hr class="line1">
      <div class="row ">
        <div class="col-lg-10 " ng-repeat="poc in point_of_contacts">
          <accordion  close-others=true>
            <accordion-group is-open="status.isFirstOpen">
              <accordion-heading >
          <span class="color-black ">
          Add Contact Person
          <i class="pull-right glyphicon" ng-class="{' glyphicon-minus': status.open, ' glyphicon-plus': !status.open}">
            </i>
            </span>
              </accordion-heading>
              <div class="row">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating is-empty">
                    <label class="control-label">Contact Person Name</label>
                    <input class="form-control bord-remove" data-ng-model="poc.name" type="text">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" data-ng-model="poc.phone" type="text">
                  </div>
                  <div class="form-group" custom-select data="contactType">
                  </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" data-ng-model="poc.support_location" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" data-ng-model="poc.designation" placeholder="Contact Person Designation">
                  </div>
                  <div class=" form-group ">
                  <div class="form-group" custom-select data="supportArea">
                  </div>
                    </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <div class="col-lg-1 ">
          <a href="" class="btn btn-raised btn-info btn-md glyphicon glyphicon-plus"
             ng-click="createNewContactList()"> Contact</a>
        </div>

        <div class="col-md-6">
          <h4 class="color-black">Roll out of a proposal</h4>
          <div class="form-group is-empty is-fileinput">
            <input type="file" id="inputFile4" multiple="">
            <div class="input-group">
              <input type="text" readonly="" class="form-control" placeholder="No selected file">
                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status btn-sm glyphicon glyphicon-paperclip">
                  <i class="material-icons">attach file</i>
                  </button>
                </span>
            </div>
            <span class="material-input control-label">Supported file format PDF,DOC,PPT.</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-5">
        <div class="form-group">
          <a ui-sref="app.suspect-view">
            <button class="btn btn-primary data-button">Cancel</button>
          </a>
          <button class="btn btn-primary data-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
