 <div class="maincol-apply">
<div class="container">
<div class="panel panel-primary second-panel">
                    <div class="panel-heading">
                        
                    Suspect
                     </div>
                    
                    <div class="panel-body">
                        <div class="form-group pull-right">
                          <button class="btn btn-primary contacts-button">Update Status</button>  
                        </div>
                        <hr class="line1">
                        <h4>1) Primary Contact Person For Business</h4>
                        <div class="row">
                            <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label label-col" for="focusedInput1">Contact Person</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Phone Number</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Address</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person Designation</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                            </div>
                         <h4>2) Escalation Contact Person For Business</h4>
                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Phone Number</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Address</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person Designation</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contacts Provided</label>
                                    <input type="checkbox" class="check">
                                    <label>Remote</label>
                                    <input type="checkbox" class="check">
                                    <label>Location</label>
                                </div>
                             </div>
                             
                            </div>
                         <div class="row">
                             <div class="col-md-6">
                                <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Remote Location</label>
            <input class="form-control" id="focusedInput1" type="text">
            <div id="grad1">
               
                </div>
          </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Location</label>
            <input class="form-control" id="focusedInput1" type="text">
            <div id="grad1">
               
                </div>
          </div>                
                  
                            </div>
                         </div>
                         <h4>3) Primary Contact Person For Finance</h4>
                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Phone Number</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Address</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person Designation</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             
                             
                            </div>
                         <h4>4) Escalation Contact Person For Finance</h4>
                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Phone Number</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Address</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person Designation</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             
                             
                            </div>
                         <h4>5) Primary Contact Person For Invoice</h4>
                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Phone Number</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Address</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person Designation</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             
                             
                            </div>
                         <h4>6) Escalation Contact Person For Invoice</h4>
                         <div class="row">
                            <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Phone Number</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             <div class="col-md-6">
                        <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Address</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                 <div class="form-group label-floating">
            <label class="control-label" for="focusedInput1">Contact Person Designation</label>
            <input class="form-control" id="focusedInput1" type="text">
          </div>
                                </div>
                             
                             
                            </div>
                         <div class="col-md-6 col-md-offset-4">
                        <div class="form-group">
                           
                            <button class="btn btn-primary contacts-button">Cancel</button><button class="btn btn-primary contacts-button">Submit</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
				</div>
				</div>