<div class="maincol-apply">
    <div class="container col-md-12 pad-t-20 maincol-apply" data-cg-busy="{promise:myPromise,message:'Please Wait'}">
      <div class="panel panel-primary pan-col gap">
        <div class="panel-heading summary">Summary for the month of {{sumStartDate | date:'MMMM yyyy '}}{{sumEndDate}}</div>
        <div class="panel-body pan-col">
          <div class="row">
            <div class="initialicons-div">
              <div class="secondicons-div">
                <div class="target-div">
                  <div class="panel mini-box hot-bord">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src="img/Hot_icon.png" class="target">
                </span>
                    <div class="box-info">
                      <div class="met-hot">HOT</div>
                      <div class="met-num">{{data.hot}}</div>

                    </div>
                  </div>
                </div>
                <div class="target-div">
                  <div class="panel mini-box warm-bord">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src="img/warm_icon.png" class="prospect">
                </span>
                    <div class="box-info">
                      <div class="met-warm">WARM</div>
                      <div class="met-num">{{data.warm}}</div>
                    </div>
                  </div>
                </div>
                <div class="target-div">
                  <div class="panel mini-box cold-bord">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src='img/cold_icon.png' class="empanel">
                </span>
                    <div class="box-info">
                      <div class="cold-col">COLD</div>
                      <div class="met-num">{{data.cold}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class=" col-md-12 gap-suspect">
        <div class="row">
        </div>
        <div class="panel-body col-md-12">
          <div class="row">
            <h4 class="pull-left head">All Suspects</h4>
            <div class="pull-right overall-pad date-pick-right-mrg">
              <form  name="form" class="form-inline" novalidate>
                <div class="present date-rigght-mrg">
                  <div class="input-group col-md-4" style="margin-right: 10px">

                    <input type="text" class="form-control bord-given " aria-describedby="basic-addon1"  datepicker-popup="dd-MMMM-yyyy" ng-model="start" is-open="opened1"
                           show-button-bar="false" ng-required="true" style="padding-left: 6px">
                    <span class="input-group-addon cal-img hand-cursor" ng-click="open($event,'opened1')"><img src="img/calendar_icon.png" alt=""  /></span>
                  </div>
                  <div class="input-group col-md-4" style="margin-right: 6px">

                    <input type="text" class="form-control bord-given " aria-describedby="basic-addon1"  datepicker-popup="dd-MMMM-yyyy" ng-model="end" is-open="opened2"
                           show-button-bar="false" ng-required="true" style="padding-left: 6px">
                    <span class="input-group-addon cal-img hand-cursor" ng-click="open($event,'opened2')"><img src="img/calendar_icon.png" alt=""  /></span>
                  </div>

                  <button class="btn btn-primary btn-raised filter" data-ng-click="getSuspectsByRange(data.currentPage,data.numPerPage)">Go</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="table-topdiv table-up-mrg col-md-12">
        <div class="excel-row">
        <button class="btn btn-raised btn-info excel pull-right  " type="button" ng-csv="getArray()" filename="suspect.csv" csv-header="getCSVHeader()" ng-if="filteredRows.length!=0" style="margin-left: 1118px;">
          <img src="img/excel_upload_icon.png">
        </button>
</div>
        <table class="table table-bod m-n">
          <thead class="table-head">
          <tr>
            <th></th>
            <th class="table-th-heading">Legal Entity <span ng-click="sortType = 'client.legalName'; sortReverse = !sortReverse" ><img src="img/sort_icon.png" ng-show="!sortReverse">
           <img src="img/sort_icon2.png" ng-show="sortReverse">
           </span></th>
            <th class="table-th-heading">Business Unit <span ng-click="sortType = 'client.businessUnit'; sortReverse = !sortReverse"><img src="img/sort_icon.png" ng-show="!sortReverse">
            <img src="img/sort_icon2.png" ng-show="sortReverse">
            </span></th>
            <th class="table-th-heading">Location <span ng-click="sortType = 'client.address.city'; sortReverse = !sortReverse"  ><img src="img/sort_icon.png" ng-show="!sortReverse">
            <img src="img/sort_icon2.png" ng-show="sortReverse">
            </span></th>
            <th class="table-th-heading">Contact Person <span ng-click="sortType = 'getPrimaryContact().name'; sortReverse = !sortReverse"><img src="img/sort_icon.png" ng-show="!sortReverse">
            <img src="img/sort_icon2.png" ng-show="sortReverse">
            </span></th>
            <th class="table-th-heading">Contact Designation</th>
            <th class="table-th-heading">Contact Number</th>
            <th class="table-th-heading">Actions</th>
                   </tr>
          </thead>
          <tbody>
          <tr data-ng-repeat="suspect in filteredRows= (data.suspects | orderBy:sortType:sortReverse |companyFilter:selectedItem) | filter:$root.searchView"  >
            <td>
              <p class=" " ng-class="statusColor(suspect.suspect)"></p>
            </td>

            <td class="hand-cursor td-text-color" ng-click="openEditSuspect(suspect)">{{suspect.client.legalName}}</td>
            <td>{{suspect.client.businessUnit}}</td>
            <td>{{suspect.client.address.city}}</td>
            <td>{{suspect.getPrimaryContact().name}}</td>
            <td>{{suspect.getPrimaryContact().designation}}</td>
            <td>{{suspect.getPrimaryContact().phone}}</td>
        <td class="action-padding">
          <table >
            <tr style="background-color: transparent !important;">
              <td class="tooltipp"><img src="img/discussion_icon.png"  class="action-distance hand-cursor " data-ng-click="openDiscussions(suspect,'SUSPECT')"><span class="tooltiptextt">Discussions</span></td>
              <td class="tooltipp">
                <img src="img/share_icon.png"    class="action-distance  "  ng-click="openShare('share',suspect)" ng-show="showShare(suspect)" data-ng-class="{'hand-cursor':showShare(suspect)}"><span class="tooltiptextt">Share</span>
                <img src="img/share_hide.png"  class="action-distance "   ng-hide="showShare(suspect)">
              </td>
              <td class="tooltipp"><img src="img/transfer_icon.png"  class="action-distance " data-ng-class="{'hand-cursor':showTransfer(suspect)}" ng-click="openShare('tansfer',suspect)" ng-show="showTransfer(suspect)"><span class="tooltiptextt">Transfer</span>
                <img src="img/transfer_hide.png"  class="action-distance "  ng-hide="showTransfer(suspect)" >
              </td>
             <!-- <td ><img src="img/revoke_icon.png" tooltip="Revoke" class="hand-cursor"></td>-->
            </tr>
          </table>
  </td>
      </tr>
         <tr  data-ng-if="filteredRows.length ===0">
        <td colspan="10">No Suspects!</td>
        </tr>
          </tbody>
        </table>
        <span data-ng-hide="filteredRows.length ===0">
      <pagination class="pagination-sm pull-right"
                  page="data.currentPage"
                  total-items="data.totalItems"
                  ng-model="data.currentPage"
                  ng-change="getSuspects(data.currentPage,data.numPerPage)"
                  max-size="4"
                  items-per-page="data.numPerPage"
                  rotate="false"
                  boundary-links="false">
      </pagination>
    </span>
      </div>

    </div>


</div>
