
<div class="mdl-center">
  <div class="addDiscusHeading modal-header ">
    <h4 class="modal-title "> Transfer Suspect</h4></div>
  <div class="modal-body">
    <form name="transfer">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group label-floating is-empty col-pad">
          <label for="i7" class="control-label">Name</label>
          <input name="name" class="form-control" alphabets-only ng-model="poc.name" typeahead="name as name.name for name in getNames($viewValue)" type="text" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="setTransferdata($item, $model, $label,$event,$index)" >
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh">Processing</i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
        </div>
        </div>

        <div class="share-prospect">
          <button class="data-button-cancel btn btn-primary  " ng-click="cancel()">Cancel</button>
          <button class="btn btn-primary btn-raised share-button" ng-click="saleTransfer()" >Transfer</button>
        </div>
      </div>
    </form>
    </div>
  </div>

</div>

