<div class="container col-md-12 pad-t-20" data-cg-busy="{promise:myPromise,message:'Please Wait'}">
    <accordion class="plus possibility-head">
        <accordion-group is-open="status.open">
            <accordion-heading>
                <span>{{title}}</span><i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
            </accordion-heading>
            <form name="createPossibilityForm" class="app-container-blur">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-6 form-custom-padding">
                            <div class="form-group label-floating">
                                <label class="control-label">Legal Entity</label>
                                <input class="form-control" required data-ng-model="saleObject.client.legalName" type="text">
                            </div>
                            <div>
                                <label class="control-label">Bussiness Vertical</label>

                                <div custom-select data="businessVertical" value="saleObject.client.vertical"></div>
                            </div>
                            <div>
                                <label class="control-label">Employee Size of the Company</label>
                                <div custom-select data="employeeSize" value="saleObject.client.employeeSize" tabindex="5"></div>
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Address 1</label>
                                <input class="form-control" required data-ng-model="saleObject.client.address.address1" type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">City</label>
                                <input class="form-control" required data-ng-model="saleObject.client.address.city " type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Zipcode</label>
                                <input class="form-control" required numbers-only maxlength="6" data-ng-model="saleObject.client.address.pin" type="text">
                            </div>
                            <div class="label-floating ">
                                <label class="control-label">Country</label>
                                <input class="form-control" required data-ng-model="saleObject.client.address.country" type="text">
                            </div>
                            <div class="up-margin">
                            </div>
                        </div>
                        <div class="col-md-6 form-custom-padding">
                            <div class="form-group label-floating ">
                                <label class="control-label">Business Unit</label>
                                <input class="form-control" required data-ng-model="saleObject.client.businessUnit" type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Website URL</label>
                                <input class="form-control" required data-ng-model="saleObject.client.website" type="text">
                            </div>
                            <div>
                                <label class="control-label">Group Turnover</label>
                                <!--<input class="form-control" data-ng-model="createPossibility.client.turnover" required type="text">-->
                                <div custom-select data="groupTurnover" value="saleObject.client.turnover">
                                        </div>
                            </div>
                            <div>
                                <label class="control-label">Type of Customer</label>
                                <!--<input class="form-control" data-ng-model="createPossibility.client.customerType" type="text">-->
                                <div custom-select data="customerType" value="saleObject.client.customerType">
                                        </div>
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Address 2</label>
                                <input class="form-control" data-ng-model="saleObject.client.address.address2" type="text">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">State</label>
                                <input class="form-control" required data-ng-model="saleObject.client.address.state" type="text">
                            </div>
                            <br>
                            <div>
                                <label class="control-label">Status</label>
                                <input class="form-control" required data-ng-model="saleObject.possibility" type="text">
                            </div>
                            <!--<div class="form-group1 pull-right ">
                                <input data-ng-model="createPossibility.freeze" type="checkbox" class="check">
                                <label class=" first-class2 ">Freeze</label>
                            </div>-->
                        </div>

                    </div>
                  <ul>
                    <div ng-repeat="f in saleObject.documents" style="font:smaller"> {{f.$error}} {{f.$errorParam}}
                      <div class="preview-div">
                        <div class="col-md-2">
                          <div class="previews">
                            <span tooltip="{{f.name}}">{{f.url | nameFilter}}</span>

                          </div>
                          <div class="form-group">
                            <input class="no-border" type="text" ng-model="f.type">
                          </div>
                        </div>
                        <div class="preview-select">


                        </div>
                      </div>
                    </div>

                  </ul>
                </div>
            </form>
        </accordion-group>
    </accordion>
</div>
<!--<div class="text-right m-t-sm m-r-xs">
    <button class="btn btn-primary edit-button mrg-edit" data-ng-show="editForm()"><i class="fa fa-pencil pencilicon-mrg"></i> Edit</button>
</div>-->


<div class="container col-md-12 up-mrg" ng-class="{'app-container-blur':!isEditable}">
  <form name="updateSuspectForm" novalidate>
    <div class="panel panel-default second-panel up-margin ">

            <div class="panel-title  panel-heading ">
                {{suspectTitle}}
            </div>
            <div class="panel-body  ">
                <div class="form-group pull-right mrg-suspect mrg-top-apply">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <div custom-select data="status" value="saleObject.suspect" class="select-suspect"></div>
                        </div>
                    </div>
                </div>
                <hr class="line1">
                <div>
                    <div class="row col-md-12 " ng-repeat="poc in saleObject.pointOfContacts">
                      <span class=" hand-cursor cross-contact" ng-click="removeContact($index)">
                          </span>
                        <accordion close-others='opening' class="plus">
                            <accordion-group is-open="true" >
                                <accordion-heading>
                                    <span class="color-black buss-font">
          {{$index+1}}) {{poc.supportArea.selectedItem.displayText}} {{poc.contactType.selectedItem.displayText}} Contact Person Details
          <i class="pull-right glyphicon" ng-class="{'glyphicon glyphicon-chevron-down': poc.isOpen, 'glyphicon glyphicon-chevron-right': !poc.isOpen}">
            </i>
            </span>
                                </accordion-heading>
                                <div class="row" id="contact{{$index}}">
                                    <div class="col-md-12">
                                        <div class="col-md-6 col-pad">
                                            <div class=" form-group label-floating is-empty">
                                                <label class="control-label"> Name</label>
                                                <!--<input class="form-control" ng-model="poc.name" typeahead="name as name.name for name in getNames($viewValue)" type="text" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="setdata($item, $model, $label,$event,$index)" required tabindex="1" alphabets-only>-->
                                                <input class="form-control" ng-model="poc.name" required tabindex="1" alphabets-only>
                                                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh">Processing</i>
                                                <div ng-show="noResults">
                                                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                                                </div>
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Phone Number</label>
                                                <input class="form-control bord-remove" numbers-only maxlength="15" data-ng-model="poc.phone" type="text" required tabindex="3">
                                            </div>
                                            <div class="form-group" ng-show="isEditable">
                                                <label class="control-label">Support Area</label>
                                                <div class="form-group" custom-select data="supportArea" value="poc.supportArea" tabindex="5">
                                                </div>
                                            </div>
                                            <multi-checkbox title="Support Type" options="contactOptions" value="poc.supportType"></multi-checkbox>
                                            <div class="up-margin">

                                                <div class="form-group label-floating localadd-mrg">
                                                    <label class="control-label">Location</label>
                                                    <input required data-ng-model="poc.supportLocation" class="form-control" type="text" tabindex="9" required alphabets-only>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-pad">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Email ID</label>
                                                <input class="form-control bord-remove" data-ng-model="poc.email" type="text" ng-pattern='/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/im' required tabindex="2">
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Designation</label>
                                                <input class="form-control bord-remove" type="text" data-ng-model="poc.designation" required tabindex="4" alphabets-only>
                                            </div>
                                            <div class="form-group" ng-show="isEditable">
                                                <label class="control-label">Contact type</label>
                                                <div class="form-group" custom-select data="contactType" value="poc.contactType" tabindex="6"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>

                    </div>
<br><br><div class=" pull-left">
                  <a href="" class="btn btn-primary contacts-button mrgs-contact" ng-click="createNewContactList()"> <i class="fa fa-plus"></i> Contacts</a>
                </div>
                    <div class="row" ng-if="showRollOut">
                        <div class="col-md-6 form-custom-padding rollout-mrg" ng-if="isEditable">
                          <h4 class="color-black">Roll out of a proposal</h4>
                            <div class="form-group is-empty is-fileinput">
                                <input type="file" id="inputFile4" ngf-select="upload($files)" ng-model="files" ngf-multiple="true" tabindex="31">
                                <div class="input-group">
                                    <input type="text" readonly=""  id="inputText" class="form-control" placeholder="No selected file">
                                    <span class="input-group-btn input-group-sm">
                   <button type="button" class="btn warm-status btn-sm btn-text" class='app-container-blur'>
                    <i class="fa fa-paperclip">&nbsp;&nbsp;Attach File</i>
                  </button>
                </span>
                                </div>
                                <span class="material-input control-label ">Supported file format are DOC, JPEG & PNG.</span>
                            </div>
                        </div>
                        <div ng-repeat="f in uploadFiles" style="font:smaller"> {{f.$error}} {{f.$errorParam}}
                                        <div class="preview-div">
                                            <div class="col-md-2">
                                                <div class="previews">
                                                   <!-- <img ng-src="{{f.url}}" class="preview-img">-->
                                                    <a class="remove" data-ng-click="removeFiles(index)"></a>
                                                    <span tooltip="{{f.name}}">{{::fileName}}</span>
                                                    <!--<p class="text-in">VOTER CARD</p>-->

                                                </div>
                                              <div class="form-group">
                                                <label class="control-label ">Document Type</label>
                                                <div class="preview-select" custom-select data="f.documentType" value="f.documentType">
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="up-margin" ng-if="!isEditable">
                                      <ul >
                                        <div ng-repeat="f in rollOutFile" style="font:smaller"> {{f.$error}} {{f.$errorParam}}
                                          <div class="preview-div">
                                            <div class="col-md-2 roll-out">
                                              <div class="previews">
                                                <span tooltip="{{f.url | nameFilterTooltip}}">{{f.url | nameFilter}}</span>
                                              </div>
                                              <div class="form-group">
                                                <input class="no-border" ng-model="f.type">
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                      </ul>
                            </div>
                            <div class="up-margin" ng-if="!isEditable">
                                <ul>
                                    <li ng-repeat="f in createPossibility.suspect_documents" style="font:smaller">{{f.name?f.name:f.type}} {{f.$error}} {{f.$errorParam}}
                                        <img ng-src="{{f.url}}" class="thumb"></li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div></div>
                <div data-cg-busy="{promise:uploadPromise,message:'Please Wait'}"></div>

                <div class="col-md-6 col-md-offset-5" data-cg-busy="{promise:submitPromise,message:'Please Wait'}">
                    <div class="form-group">
                        <a ui-sref="app.suspect-view">
                            <button data-ng-show="editForm()" class="btn btn-primary data-button-cancel btn-text hand-curser">Cancel</button>
                        </a>
                        <button data-ng-show="editForm()" class="btn btn-primary data-button btn-text" data-ng-disabled="!isValid(updateSuspectForm.$valid)" data-ng-click="submit()">Submit</button>
                    </div>
                </div>
            </div>
            </div>
        </form>
</div>
