
<div class="container col-md-12 pad-t-20" data-cg-busy="{promise:myPromise,message:'Retriving Possibilities'}">
    <accordion class="plus possibility-head">
        <accordion-group is-open="status.open">
            <accordion-heading>
                <span>{{title}}</span><i class="pull-right glyphicon"
               ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
            </accordion-heading>
            <form name="createPossibilityForm" class="app-container-blur">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-6 form-custom-padding">
                            <div class="form-group label-floating">
                                <label class="control-label">Legal Entity</label>
                                <input class="form-control" required data-ng-model="createPossibility.legal_name" type="text">
                            </div>
                            <div>
                                <label class="control-label">Bussiness Vertical</label>

                                <input class="form-control" data-ng-model="createPossibility.vertical" type="text">
                            </div>
                            <div>
                                <label class="control-label">Employee Size of the Company</label>
                                <input class="form-control" required data-ng-model="createPossibility.employee_size" type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Address Line 1</label>
                                <input class="form-control" required data-ng-model="createPossibility.address.address_line_1 " type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">City</label>
                                <input class="form-control" required data-ng-model="createPossibility.address.city " type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Zipcode</label>
                                <input class="form-control" required numbers-only maxlength="6" data-ng-model="createPossibility.address.pin" type="text">
                            </div>
                            <div class="label-floating ">
                                <label class="control-label">Country</label>
                                <input class="form-control" required data-ng-model="createPossibility.address.country" type="text">
                            </div>
                            <div class="up-margin">
                                <ul>
                                    <li ng-repeat="f in createPossibility.documents" style="font:smaller">{{f.name?f.name:f.type}} {{f.$error}} {{f.$errorParam}}
                                        <img ng-src="{{f.url}}" class="thumb"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 form-custom-padding">
                            <div class="form-group label-floating ">
                                <label class="control-label">Business Unit</label>
                                <input class="form-control" required data-ng-model="createPossibility.unit_name" type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Website URL</label>
                                <input class="form-control" required data-ng-model="createPossibility.url" type="text">
                            </div>
                            <div>
                                <label class="control-label">Group Turnover</label>
                                <input class="form-control" data-ng-model="createPossibility.turnover" required type="text">
                            </div>
                            <div>
                                <label class="control-label">Type of Customer</label>
                                <input class="form-control" data-ng-model="createPossibility.customer_type" type="text">
                            </div>
                            <div class="form-group label-floating ">
                                <label class="control-label">Address Line 2</label>
                                <input class="form-control" data-ng-model="createPossibility.address.address_line_2" type="text">
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">State</label>
                                <input class="form-control" required data-ng-model="createPossibility.address.state" type="text">
                            </div>
                            <br>
                            <div data-ng-if="!isNewPossibility">
                                <label class="control-label">Status</label>
                                <input class="form-control" required data-ng-model="met_status" type="text">
                            </div>
                            <!--<div class="form-group1 pull-right ">
                                <input data-ng-model="createPossibility.freeze" type="checkbox" class="check">
                                <label class=" first-class2 ">Freeze</label>
                            </div>-->
                        </div>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>
</div>


<div class="container col-md-12 up-mrg">
    <div class="panel panel-default second-panel up-margin ">
        <div class="panel-title  panel-heading ">
            Contact Details
        </div>
        <div class="panel-body  ">
            <div class="form-group pull-right mrg-suspect mrg-top-apply">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Status</label>
                  <div   custom-select data="status" class="select-suspect"></div>
                  <!--<div id="grad1-status"></div>-->
                </div>
              </div>
            </div>
            <hr class="line1">
            <div >
                <div class="row col-md-12 ">
                    <accordion close-others='opening' class="plus">
                        <accordion-group is-open="poc.isOpen" ng-repeat="poc in point_of_contacts">
                            <accordion-heading>
                                <span class="color-black ">
          {{poc.support_area.selectedItem.displayText}} {{poc.contact_type.selectedItem.displayText}} Contact Person Details
          <i class="pull-right glyphicon" ng-class="{' glyphicon-minus': poc.isOpen, ' glyphicon-plus': !poc.isOpen}">
            </i>
            </span>
                            </accordion-heading>
                            <div class="row" id="contact{{$index}}">
                                <div class="col-md-5 col-pad">
                                    <div class=" form-group label-floating is-empty">
                                        <label class="control-label"> Name</label>
                                        <input class="form-control" ng-model="poc.name" typeahead="name as name.name for name in getNames($viewValue)" type="text" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="setdata($item, $model, $label,$event,$index)">
                                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh">Processing</i>
                                        <div ng-show="noResults">
                                            <i class="glyphicon glyphicon-remove"></i> No Results Found
                                        </div>
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Phone Number</label>
                                        <input class="form-control bord-remove" data-ng-model="poc.phone" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Support Area</label>
                                        <div class="form-group" custom-select data="poc.support_area">
                                        </div>
                                    </div>
                                  <div class="form-group">
                                    <label class="contacts">Contacts Provides</label>
                                    <input type="checkbox" ng-model="poc.remote" class="check remote-check" data-ng-checked="support_type_remote" tabindex="19" id="input-confidencial">
                                    <label class="remote" for="input-confidencial">Remote</label>
                                    <input type="checkbox" ng-model="poc.local" class="check local-check" ng-checked="support_type_local" tabindex="20" id="input-confidencial1">
                                    <label class="location" for="input-confidencial1">Local</label>
                                  </div>
                               <div class="up-margin"  >

                                    <div class="form-group label-floating localadd-mrg" >
                                      <label class="control-label">Location</label>
                                      <input required data-ng-model="suspect.support_location" class="form-control" type="text" tabindex="21">


                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-5 col-md-offset-2">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Email ID</label>
                                        <input class="form-control bord-remove" data-ng-model="poc.email_id" type="text">
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Designation</label>
                                        <input class="form-control bord-remove" type="text" data-ng-model="poc.designation">
                                    </div>
                                  <div class="form-group">
                                        <label class="control-label">Contact type</label>
                                        <div class="form-group" custom-select data="poc.contact_type"></div>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>

              <div class="row" ng-if="showRollOut">
                <div class="col-md-6 form-custom-padding rollout-mrg">
                  <h4 class="color-black">Roll out of a proposal</h4>
                  <div class="form-group is-empty is-fileinput">
                    <input type="file" id="inputFile4" multiple="">
                    <div class="input-group">
                      <input type="text" readonly="" class="form-control" placeholder="No selected file">
                                            <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status btn-sm">
                    <i class="fa fa-paperclip">&nbsp;&nbsp;&nbsp;Attach File</i>
                  </button>
                </span>
                    </div>
                    <span class="material-input control-label">Supported file format PDF,DOC,PPT.</span>
                  </div>
                </div>
              </div>


            </div>
            <div data-cg-busy="{promise:submitPromise,message:'Updating'}"></div>
          <div class=" pull-left">
            <a href="" class="btn btn-primary contacts-button mrgs-contact" ng-click="createNewContactList()"> <i class="fa fa-plus"></i> Contacts</a>
          </div>
            <div class="col-md-6 col-md-offset-5">
                <div class="form-group">
                    <a ui-sref="app.suspect-view">
                        <button class="btn btn-primary data-button-cancel">Cancel</button>
                    </a>
                    <button class="btn btn-primary data-button" data-ng-click="submit(true)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
