.signin-background{
  background: url('../img/background.png') no-repeat right top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.color-black{
  color : black;
}

.bg-red{
  color:#db5358;
  background-color: #db5358;
}
.bg-aside-dark{
  color: #5d5e5c;
  background-color: #5d5e5c;
}

.header-name{
  font-family: "Helvetica Neue";
  font-style: normal;
  font-size: 16px;
  color:#ffffff;

}
.height-navBar{
  height: 50px;
}
.list-pad{
  padding-top:35px;
}
/*.list-pad > li > a:hover,.list-pad > li > a:focus{
   background-color:white !important;
   color: #5D5E5C !important;
   border-right:2px solid red;
}
/*.list-pad > li > .img-mg:hover,.list-pad > li > .img-mg:focus{
   background-color:white !important;
   color: #5D5E5C !important;
}*/
/*.img-mg:hover{
   content: url('../img/left_nav_home_icon.png');
}*/
/*Dashboard*/
.target-header-color{
  background-color: #5499f6;
}
.prospect-header-color{
  background-color: #7f439b;
}
.empanelment-header-color {
  background-color: #6dc7be;
}
.notification-icon{
   color:white;
   font-size:18px;
}

/*end of dashboard*/

/*create possibility*/

/*list possibility*/
.content {
    margin-top: 10px;
}
#basic-addon2 {
    padding-top: 1px;
    background-color: white;
}
.head {
    font-size: 22px;
    color: #2277b1;
}
.filter {
    padding-top: 10px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 10px;
    background-color: #049ad9 !important;
}
.maincol-apply {
    background-color: #e4e9ef;
}
.detailsContent {
    width: 80%;
    margin: 0px auto;
}
.detailsContentDiv {
    display: table;
    width: 100%;
}
.listDetails {
    display: table-cell;
    padding: 10px;
}
.orange {
    background: #f58207;
    color: #fff;
    height: 74px;
}
.listDetailsContent {
    border: 1px solid #eee;
    display: table;
    width: 100%;
    height: 70px;
}
.listDetailsContent > div {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.met {
    color: #f58207;
    font-weight: bold;
}
.met-num {
    color: black;
    font-weight: bold;
}
.notmet {
    color: #8e8a67;
    font-weight: bold;
}
.orangemet {
    background-color: #8e8a67;
    font-weight: bold;
}
.inactive {
    color: #A8A8A7;
    font-weight: bold;
}
.orangeactive {
    background-color: #A8A8A7;
    font-weight: bold;
}
.summary {
    text-align: center;
    background-color: #2277b1 !important;
    font-size: 17px;
}
.pan-col {
    border: white;
}
.buttons {
    background-color: #f58207;
    color: white !important;
    font-weight: bold;
	width:88%;
}
.buttonslast {
    background-color: #049ad9;
    color: white !important;
    font-weight: bold;
}
.table-bod {
    border: 1px solid white;
    background-color: white;
}
.table-bod>tbody>tr>td {
    border-top: none;
}
.table-bod>tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
}
.table-head {
    background-color: white;
    color: #2277b1;
}
td:nth-child(1) {
    color: #2277b1;
    font-weight: bold;
}
.possibilities {
    margin-top: 80px;
}
.control-label{top: 0px !important;}
          .main-panel>.panel-heading{background-color: white !important;}
          .second-panel>.panel-heading {background-color:#2277b0 !important;color: white !important;}
         
          .second-panel>.panel-heading a{color: white !important;}
          .bord-remove{border-top: none;border-left: none;border-right: none;}
#grad1 {
position:absolute;
    height: 0px;
width:0px;
border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #DFDFDF;
margin-top:-10px;
margin-left: 520px;
}
.check{
    width: 36px;
    height: 20px;
    vertical-align: -36%;
}
.contacts-button{background-color: #049ad9 !important;color: white !important;padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;border-radius: 0px;}
.update-button{background-color: #049ad9 !important;color: white !important;border-radius: 0px;}
.data-button{background-color: #049ad9 !important;color: white !important;margin-left: 10px;
    border-radius: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;}
.line1{border-top: 1px solid #8c8b8b;margin-top: 100px;}
.label-col{color: #DEDEDE !important;}
.form-control:focus{box-shadow: none;}
.contacts{color: #049ad9;}
.remote{color: #A29595;
    font-weight: normal;}
.location{color: #A29595;
    font-weight: normal;}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 95%px;
    height: 150px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
.all-dateinputs{
     padding-top:25px;
}
/*end create possibility*/


/*create suspect*/
.control-label{top: 0px !important;}
          .main-panel>.panel-heading{background-color: white !important;}
          .second-panel>.panel-heading {background-color:#2277b0 !important;color: white !important;}
          .second-panel>.panel-heading a{color: white !important;}
          #grad1 {
    position:absolute;
    height: 0px;
    width:0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #DFDFDF;
    margin-top:-19px;
    margin-left: 520px;
}
.check{
    width: 36px;
    height: 20px;
    vertical-align: -36%;
}
.contacts-button{background-color: #049ad9 !important;color: white !important;}
.panel-group .panel-heading a {
  display: block;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
.panel-group .panel-heading a.collapsed {
  color: inherit;
}
.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top:5px;
  font-size:30px;
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.line1{border-top: 1px solid #8c8b8b;margin-top: 100px;}


/*end suspect*/
/*suspect-view styles*/
.hot-color-suspect{
  background-color: #e60505;
}
.warm-color-suspect{
  background-color: #e68405;
}
.cold-color-suspect{
  background-color: #87d7f8;
}
/*end suspect-view*/
.navbar-custom{
  background-color: transparent !important;
  color: transparent !important;
}
/*create prospect*/
#grad1-status {
position:absolute;
    height: 0px;
width:0px;
border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #DFDFDF;
margin-top:-10px;
margin-left: 100px;
}
/*end prospect*/
