.signin-background{
  background: url('../img/background.png') no-repeat right top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sign-button:hover{
  background-color:#23b7e5 !important;
}
.sign-button{
  background-color:#23b7e5 !important;
}
.hand-cursor{
  cursor: pointer;
}

.color-black{
  color : black !important;
}

.bg-red{
  color:#db5358;
  background-color: #db5358;
}
.bg-aside-dark{
  color: #5d5e5c;
  background-color: #5d5e5c;
}

.header-name{
  font-style: normal;
  font-size: 16px;
  color:#ffffff;

}

.height-navBar{
  height: 50px;
}
.list-pad{
  padding-top:35px;
}

.icon-bars {
  font-size: 20px;
  color: white;

}

.ecentric-logo{
  margin-top: 6px !important;
  margin-left: -9px !important;
}
.background-anchor:hover{
  background-color: #E2E7ED !important;
}
.background-anchor{
  background: #E2E7ED;
  padding-left: 26px !important;
}
.icon-bars {
  font-size: 20px;
  color: white;
}
.collapse-back:hover,.collapse-back:active,.collapse-back:focus,.collapse-back:visited{
  background-color: transparent !important;
}
.sales-mrg{
  margin-left: -35px;
}
.sales-namemrg{
  margin-left: -25px !important;
}
.notification-mrg{
  background-color: #AAAAAA !important;
  padding: 3px 5px !important;
}
.caret{
  color: white;
}
.list-menu li > a{
  padding: 2px 15px !important;

}
/*.list-pad > li > a:hover,.list-pad > li > a:focus{
   background-color:white !important;
   color: #5D5E5C !important;
   border-right:2px solid red;
}
/*.list-pad > li > .img-mg:hover,.list-pad > li > .img-mg:focus{
   background-color:white !important;
   color: #5D5E5C !important;
}*/
/*.img-mg:hover{
   content: url('../img/left_nav_home_icon.png');
}*/
/*Dashboard*/
.target-header-color{
  background-color: #5499f6;
}
.prospect-header-color{
  background-color: #7f439b;
}
.empanelment-header-color {
  background-color: #6dc7be;
}
.notification-icon{
  color:white;
  font-size:18px;
}
.calendar-img{
  margin-left: -35px !important;
  margin-top: 10px;;
  width: 20px;
  height: 20px;
}
.met-target{
  color:#5398F6;
  font-weight: bold;
}
.met-prospect{
  color:#81479D;
  font-weight: bold;
}
.metprospect-num{
  color:#81479D;
  font-weight: bold;
}
.empanel-col{
  color: #6BC5BE;
  font-weight: bold;
}
/*end of dashboard*/

/*create possibility*/

/*list possibility*/
.content {
  margin-top: 10px;
}
.del-pad{
  padding-top: 0px;
}
#basic-addon1 {
  padding-top: 1px;
  background-color: transparent;
}
#basic-addon2 {
  padding-top: 1px;
  background-color: transparent;
}
#basic-addon-search{
  background-color: #F1F1F2;
  border-left: 1px solid #CFCFCF;
}
.input-search{
  background-color: white;
  padding-left: 10px;
  border: 1px solid #CFCFCF;
  border-radius: 15px;
}
.form-search{background-color: white;}
.head {
  font-size: 22px;
  color: #2277b1;
}
.filter {
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  margin-top:-3px;
  background-color: #1F9CD7 !important;
  margin-right:29px ;
  font-size: 16px;
  text-transform:none !important;
  border-radius: 4px !important;
}
.left-mrg{
  margin-right:25px ;
}

.detailsContent {
  width: 80%;
  margin: 0px auto;
}
.detailsContentDiv {
  display: table;
  width: 100%;
}
.listDetails {
  display: table-cell;
  padding: 10px;
}
.orange {
  background: #f58207;
  color: #fff;
  height: 74px;
}
.listDetailsContent {
  border: 1px solid #eee;
  display: table;
  width: 100%;
  height: 70px;

}
.listDetailsContent > div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.met-num {
  color: black;
  font-weight: bold;
}
.won {
  color: #15b929;
  font-weight: bold;
}
.orangemet {
  background-color: #E48204;
  font-weight: bold;
}
.inactive {
  color: #A8A8A7;
  font-weight: bold;
}
.orangeactive {
  background-color: #A8A8A7;
  font-weight: bold;
}
.summary {
  text-align: center;
  background-color: #2277b1 !important;
  font-size: 20px;
}
.pan-col {
  border: white;
}
.buttons {
  background-color: #f58207;
  color: white !important;
  font-weight: bold;
  width:88%;
}
.buttonslast {
  background-color: #049ad9;
  color: white !important;
  font-weight: bold;
}
.table-bod {
  border: 1px solid #D2D7DD;
  background-color: white;
}
.table-bod>tbody>tr>td {
  border-top: none;
}
.table-head {
  background-color: white;
  color: #2277b1;
}
.main-panel>.panel-heading{
  background-color: white !important;
}
.second-panel>.panel-heading {
  background-color:#2176AF !important;color: white !important;
  font-size: 17px;
  padding: 15px;
  font-weight: bold;
}
.second-panel>.panel-heading a{
  color: white !important;
}
.bord-remove{
  border-top: none;border-left: none;border-right: none;
}

#grad1 {
  position:absolute;
  height: 0px;
  width:0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #DFDFDF;
  margin-top:-10px;
  margin-left: 520px;
}
.check{
  width: 36px;
  height: 20px;
  vertical-align: -36%;
}
.contacts-button{
  background-color: #049ad9 !important;color: white !important;padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;border-radius: 0px;
  text-transform: none;
  margin-left: 50px;}
.update-button{background-color: #049ad9 !important;color: white !important;border-radius: 0px;}
.data-button{background-color: #049ad9 !important;color: white !important;margin-left: 10px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;}
.line1{border-top: 1px solid #8c8b8b;margin-top: 105px;}

.label-col{color: #DEDEDE !important;}
.form-control:focus{box-shadow: none;}
.contacts{color: #049ad9;}
.remote{color: #A29595;
  font-weight: normal;}
.location{color: #A29595;
  font-weight: normal;}

.drop-box {

    background: #F8F8F8;
    border: 2px dashed #DDD;
    width: 95%;
    height: 190px;
    text-align: center;
    padding-top: 75px;
    margin: 10px;
  font-size: 25px !important;
  color:#A9A9A9;
}
.dragover {
  border: 5px dashed blue;
}
.all-dateinputs{
  padding-top:25px;
}
.mrg-button{
  margin-right: 15px;
}
.poss-mrg{
  margin-right: 10px;
}
.notmet{
  color: #E48204;
  font-weight: bold;
}
.orangeactive-cold{
  background-color: #85D5F6;
}
.cold{
  color: #85D5F6;
  font-weight: bold;
}
.greenmet{
  background-color: #8C8866;
  font-weight: bold;
}
.poss-btn{
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  background-color: #049ad9 !important;
  margin-right:12px ;
  text-transform:none;
  font-size:16px;
  border-radius: 4px !important;
}
.poss-list{
  margin:0px;
}
.mrg-apply{
  margin-top: -35px;
}
.table-topdiv{
  overflow-x: scroll;
}

.edit-button{
  background-color: #049ad9 !important;color: white !important;padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;border-radius: 0px;
  text-transform: none;
}
.cancel-button{
  background-color: #049ad9 !important;color: white !important;padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;border-radius: 0px;
  text-transform: none;
  margin-right: 22px;
}
.dropdown-col{
  color: #009688;
}
.contactdrop-col{
  color: #009688 !important;
}
/*end create possibility*/

/* documents preview dis */
.preview-div {
  margin-top: 10px;
}
.previews{
  background-color:#eeeeee;
  border-radius: 3px;
  position: relative;
  padding: 10px;
  max-height: 228px;
  margin-top: 10px;
}
.remove{
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -12px;
  right: -12px;
  background: url(../img/icon_Delete_file.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.text-in{
  text-align: center;
}
.preview-img{
  display: inline-block;
  width: 100%;
  max-height: 128px;
  min-height: 128px;


}
.preview-select .select{ min-width: 140px !important;}


/* documents preview dis */
/*end create possibility*/

/*create suspect*/


.check{
  width: 36px;
  height: 20px;
  vertical-align: -36%;
}
.contacts-button{background-color: #049ad9 !important;color: white !important;}
.panel-group .panel-heading a {
  display: block;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
.panel-group .panel-heading a.collapsed {
  color: inherit;
}
.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top:5px;
  font-size:30px;
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}


/*end suspect*/
/*suspect-view styles*/
.warm-color-suspect{
  background-color: #e68405;
}
.cold-color-suspect{
  background-color: #87d7f8;
}
.heads-space{
  white-space: nowrap;
}
.mrg-formgrp{
  margin: 0;
}
.mrg-top-apply{
  margin-top: -30px;
}
.mrg-top{ margin-top: 10px;}
.pan-col{
  background-color:#F1F1F1;
}
.color-divs{
  background-color: white;
}
/*end suspect-view*/
.navbar-custom{
  background-color: transparent !important;
  color: transparent !important;
}
/*create prospect*/
#grad1-status {
  position:absolute;
  height: 0px;
  width:0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #DFDFDF;
  margin-top:-10px;
  margin-left: 100px;
}
/*end prospect*/
/* Empanelment view */
.data-button-cancel{
  background-color: #808080 !important;
  color: white !important;
  width: 120px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom:10px;}
.data-button-sub{
  background-color: #049ad9 !important;color: white !important;
  width: 120px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;}
.SLA-button{
  background-color: #049ad9 !important;color: white !important;
  width: 150px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.orange2 {
  background: #f58207;
  color: #fff;
  height: 74px;
  display:none;
}

.listDetails2 {
  display: none;

}
.listDetails3 {
  width: 30%;
  margin-left:35%
}
.arrow1 {
  color:black;
}
.wonbtn {
  height:20px;
  width:80px;
  border-radius: 3px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 3px;
  color:white;

}
.won-img-class{
  background-color:#15b929 !important;
  width: 25%;

}
.emp-won-text{
  border: 1px solid #eee;
  display: table;
  height: 70px;
  width: 110% !important;
}
.won-status
{

  background-color: #15b929 !important;
  text-align: center;
  border-radius: 3px;
  width:100%;
  height:93%;
  color: white !important;

}
.newcall-buton
{

  background-color: #049ad9;
  color: white !important;

}
/* end of empanelment view */


/* Prospect view */

.redBack {
  background: #e60505;;
  height: 74px;

}
.warmdBack {
  background-color: #ffa342;
  font-weight: bold;
}

.coldBack{
  background-color: skyblue;
  font-weight: bold;
}

.red{
  color:#e60505;
}
.red-num{
  color:black;
}

.warm{
  color:#e68405;
}
.warm-num{
  color:black;
}

.cold{
  color: #87d7f8;
}
.cold-num{
  color:black;
}
.blc{
  color:black;
}
.hot-status{
  background-color:#e60505 !important; ;
  text-align: center;
  padding: 5px 20px;
  font-size: 12px;
  width: 80px !important;
  color:white ;

}
.warm-status {
  background-color: #e68405 !important;;
  text-align: center;
  padding: 5px;
  width: 100% !important;
  color: white;
  border-radius: 7px;
}
.cold-status{
  background-color:#87d7f8 !important; ;
  text-align: center;
  padding: 5px;
  width: 80px;
  color:white !important;;
}
.won-status-text{
  background-color: green;
  text-align: center;
  padding: 3px 10px;
  font-size: 14px;
  width: 90px !important;
  color: white;
  height: 27px;
}
.won-status-text-color{
  color: #478804;
  font-weight: bold;

}
.lost-status-text-color{
  color:#a948b8;
  font-weight: bold;
}
.lost-status-text{
  background-color: #a948b8 !important;
  text-align: center;
  padding: 3px 10px;
  font-size: 14px;
  width: 90px !important;
  color: white;
  height: 27px;

}
.detailsContentDiv-prosp{
  width:24%;
}

.button-style{
  text-align: center;
  width: 80px;

  border-radius: 3px;

}

.btn-new{
  color:white;
  background-color: #3a81f8;}

.pageNav{

  background-color: white;
  color: black;

}
/* end of prospect view */



.checkBoxDrop{
  width: 26px;
  height: 30px;
  color: white;
  background-color: darkgrey;
  padding: 5px;
  margin-right: 10px;
}

.checkBox{
  width: 15px;
  height: 15px;
  color: white;
  border-radius: 3px;
}

.checkBxDrop{
  border-top: 10px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid transparent;
  color: white;
  margin-top:6px;
  margin-left: 5px;

}
.className
{
  width: 110px;
  height: 30px;
  color: white;
  background-color: darkgrey;
  padding: 3px 5px 5px 16px;
  margin-right: 5px;
}

.panel-heading-custom {
  background-color: #00a8f3;
  text-align: center;
  color: white;
  border-top: 1px solid #ddd;
  border-color: #428bca;
  font-size: 16px;
  line-height: 44px;
}


.container-custom {
  padding: 5px 5px 0 ;
  margin-right: auto;
  margin-left: auto;
  margin-top: 14px;
  background-color: white;
  border-radius: 5px;

}

.discussion-body {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top:1px ;

}
.Discus-checkBx{
  width:20px;
  height: 20px;
}

.margin-left-custom{
  margin-left: 80%;
}

.contact-person{
  font-weight: normal !important;
  font-size: 18px;
  color: #000000 !important;
}
.person-name{

  font-weight: bold;
  color: #2277b1;
}

.type-of-call{
  font-weight: lighter;
  font-size: 18px;
  color:#9f9c9c !important;


}
.call-follow{
  color:#2277b1;
  font-weight: lighter;
  font-size: 18px;
}


.date-venue{
  font-weight: lighter;
  font-size: 16px;
  color: #000000 !important;
}

.location-name{
  font-weight: lighter;
  font-size: 16px;

  color: #2277b1;}
.summary-head{
  font-weight: lighter;
  font-size: 18px;
  color: #2277b1 !important;
}

.summary-details{
  font-weight: lighter;
  font-size: 16px;
  color: #000000 ;

}

.ssdummary-div{
  padding-right: 10px;
  margin-right: 10px;
}




.attach-image-detail{
  width: 40px;
  height: 40px;

}
.displayDiv{
  display: none;
}

.back-color{
  background-color: white;
}
.back-color-search{
  background-color: #F2F2F2 !important;
  border: 1px solid #D5D5D5 !important;
}
.addDiscusHeading{
  background-color: #2277b1;
  color: white;
  padding:15px !important;
  left:10%;
}
.upward{
  margin-top:-15px;
}
.up-margin{
  margin-top:35px;
}
.upward-heading{
  margin-top:5%;
}
/* end discussion  */

/* start of SLA TRacker */

.pheading{
  background-color: #337ab7;
  color:white;
}
.main-content{
  margin-top:2%;
  height:100%;
  width:97%;
  margin-left:2%;
}
.text-class{
  color: #ff0000;;
  font-size:18px;
  font-weight: normal;
  font-family: Arial;
  padding-bottom: 5px;

}
.client-text
{
  padding-left: 39px;
  background-color:lightgrey ;
  line-height:60px;
  font-weight:bold;
  font-size:22px;
}
.SLA-text{

  text-align: center;

  font-size: 22px;
}

/*
.btn-blue-class{

  width:90px;
  height:30px;
  font-size: 12px;
  color:#ffffff;
}
*/


/*end of SLA tracker view */

/* add new discussions */
.modalCenter{

  padding: 30px ;
}

.fileAttach{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
}
.default{
  background: lightslategray;
}

/* end add new discussions */



.select .placeholder {
  position: relative;
  display: block;
  background-color: #fff;
  z-index: 1;
  cursor: pointer;
  padding-bottom: 7px;
}
.select .placeholder:after {
  position: absolute;
  right: 0;
  bottom:0;
  content:"";
  width: 0;
  height: 0px;
  border-bottom: 15px solid #dfdfdf;
  border-left: 15px solid transparent;
  z-index: 10;
}
.select.is-open ul {
  display: block;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.select ul {
  display: none;
  position: absolute;
  overflow: hidden;
  width: auto;
  background: #fff;
  top: 100%;
  right: 0;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  z-index: 100;
}
.select ul li {
  display: block;
  text-align: left;
  padding: 8px 15px;
  color: #999;
  cursor: pointer;
}
.select ul li:nth-child(odd){
  background:#f5f5f5

}

/* create possibility view */
.signin-background{
  background: url('../img/background.png') no-repeat right top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.color-black{
  color : black;
}


.bg-red{
  color:#db5358;
  background-color: #db5358;
}
.bg-aside-dark{
  color: #5d5e5c;
  background-color: #5d5e5c;
}
.mod-head{
  padding: 10px !important;
}
.header-name{
  font-style: normal;
  font-size: 16px;
  color:#ffffff;
  text-align: left;


}
.mod-para{
  font-size: 17px;
}
.height-navBar{
  height: 50px;
}
.list-pad{
  padding-top:54px;
}
/*.list-pad > li > a:hover,.list-pad > li > a:focus{
   background-color:white !important;
   color: #5D5E5C !important;
   border-right:2px solid red;
}
/*.list-pad > li > .img-mg:hover,.list-pad > li > .img-mg:focus{
   background-color:white !important;
   color: #5D5E5C !important;
}*/
/*.img-mg:hover{
   content: url('../img/left_nav_home_icon.png');
}*/
/*Dashboard*/
.target-header-color{
  background-color: #5499f6;
}
.prospect-header-color{
  background-color: #7f439b;
}
.empanelment-header-color {
  background-color: #6dc7be;
}
.notification-icon{
  color:white;
  font-size:18px;
}
.labels-dates{
  color:#303132 !important;
}
/*end of dashboard*/

/*create possibility*/

/*list possibility*/
.content {
  margin-top: 10px;
}
#basic-addon2 {
  padding-top: 1px;
  background-color: transparent;
}
.head {
  font-size: 22px;
  color: #2277b1;
}
.maincol-apply {
  background-color: #e4e9ef;
}
.detailsContent {
  width: 80%;
  margin: 0px auto;
}
.detailsContentDiv {
  display: table;
  width: 100%;
}
.orange {
  background: #f58207;
  color: #fff;
  height: 74px;
}
.listDetailsContent {
  border: 1px solid #eee;
  display: table;
  width: 100%;
  height: 70px;

}
.listDetailsContent > div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.not-met{
  color: #858261;
  font-weight: bold;
}
.met {
  color:#F38106;
  font-weight: bold;
}
.met-num {
  color: black;
  font-weight: bold;
}

.inactive {
  color: #A8A8A7;
  font-weight: bold;
}
.orangeactive {
  background-color: #A8A8A7;
  font-weight: bold;
}
.pan-col {
  border: white;
}
.buttons {
  background-color: #f58207;
  color: white !important;
  font-weight: bold;
  width:88%;
}
.buttonslast {
  background-color: #049ad9;
  color: white !important;
  font-weight: bold;
}
.table-bod>tbody>tr>td {
  border-top: none;
  white-space: nowrap;
  text-align: center;
}
.table-bod>thead>tr>th {
  padding:10px !important;
  white-space: nowrap;
}
.table-bod>tbody tr:nth-child(odd) {
  background-color: #F3F3F3;
}
.table-bod>tbody tr:nth-child(even) {
  background-color: #FAFAFA;
}
.table-head {
  background-color: white;
  color: #2277b1;
}
.table-bod>tbody>tr>td:nth-child(2) {
  color: #2277b1;
}
.main-panel>.panel-heading{
  background-color: white !important;
}
.bord-remove{
  border-top: none;border-left: none;border-right: none;
}

#grad1 {
  position:absolute;
  height: 0px;
  width:0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #DFDFDF;
  margin-top:-10px;
  margin-left: 520px;
}
.check{
  width: 36px;
  height: 20px;
  vertical-align: -36%;
}
.contacts-button{
  background-color: #049ad9 !important;color: white !important;padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;border-radius: 0px;
  text-transform:none;
}
.update-button{background-color: #049ad9 !important;color: white !important;border-radius: 0px;}
.data-button{background-color: #049ad9 !important;color: white !important;margin-left: 10px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;}
.label-col{color: #DEDEDE !important;}
.form-control:focus{box-shadow: none;}
.contacts{color: #049ad9 !important;}
.remote{color: #A29595;
  font-weight: normal;}
.location{color: #A29595;
  font-weight: normal;}


.main-container{
  padding:20px 30px;
}
.columns-pad{
  padding:10px 30px;
}
.col-pad{
  padding:5px 40px;
}
.attach-button{
  color: white !important;padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;border-radius: 0px;
  text-transform:none;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
  color: #ffffff !important;
  background-color: #f2800b !important;
  border-color: #f9cf0b;
}
.freeze-button{
  background-color: #2176AF !important;color: white !important;padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;border-radius: 0px;
  text-transform:none;
}
.nextline-div{
  border:1px solid red;
}
/*end create possibility*/


/*create suspect*/
.panel-group .panel-heading a {
  display: block;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  position: relative;
}
.panel-group .panel-heading a.collapsed {
  color: inherit;
}
.panel-group .panel-heading a:after {
  content: '-';
  position: absolute;
  right: 20px;
  top:5px;
  font-size:30px;
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}

.possibility-head .panel-heading{
  background-color: #2277b1 !important;
  color: white;
  padding: 4px;
}
.possibility-head .panel-heading span{
  font-size: 17px;
  font-weight: bold;
}
.suspect-head .panel-heading{
  background-color: #2277b1 !important;
  color: white;
  padding: 4px;
}
.suspect-head .panel-heading span{
  font-size: 17px;
  font-weight: bold;
}
/*end suspect*/
/*suspect-view styles*/
.hot-color-suspect{
  background-color: #e60505;
  text-align: center;
  padding: 3px 10px;
  font-size: 14px;
  width: 90px !important;
  color: white;
  height: 27px;
}
.warm-color-suspect{
  background-color: #e68405;
  text-align: center;
  padding: 3px 10px;
  font-size: 14px;
  width: 90px !important;
  color: white;
  height: 27px;
}
.cold-color-suspect{
  background-color: #87d7f8;
  text-align: center;
  padding: 3px 10px;
  font-size: 14px;
  width: 90px !important;
  color: white;
  height: 27px;
}
.hot{
  color: #E40404;
  font-weight: bold;
}
.newcall-mrg{
  margin: 0px;
}
.img-remove{
  background-image: none !important;
  border: 1px solid #D5D5D5;
}
/*end suspect-view*/
.navbar-custom{
  background-color: transparent !important;
  color: transparent !important;
}
/*create prospect*/
#grad1-status {
  position:absolute;
  height: 0px;
  width:0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #DFDFDF;
  margin-top:-20px;
  margin-left: 100px;
}

/*end prospect*/
/* Empanelment view */
.cell-gap{
  width:14%;
}
.orange2 {
  background: #f58207;
  color: #fff;
  height: 74px;
  display:none;
}

.won-status
{

  background-color: #478804;
  color: white !important;
  text-align: center;
  border-radius: 3px;
  width:100%;
  height:93%;

}
.newcall-buton
{

  background-color: #049ad9;
  color: white !important;

}
/* end of empanelment view */


/* Prospect view */

.redBack {
  background: #e60505;;
  height: 74px;

}
.warmdBack {
  background-color: #ffa342;
  font-weight: bold;
}

.coldBack{
  background-color: skyblue;
  font-weight: bold;
}

.red{
  color:#e60505;
}
.red-num{
  color:black;
}


/* Prospect view */

.redBack {
  background: #e60505;;
  height: 74px;

}
.warmdBack {
  background-color: #ffa342;
  font-weight: bold;
}

.coldBack{
  background-color: skyblue;
  font-weight: bold;
}

.red{
  color:#e60505;
}
.red-num{
  color:black;
}

.warm{
  color:#e68405;
}
.warm-num{
  color:black;
}
.cold{
  color: #87d7f8;
}
.cold-num{
  color:black;
}
.blc{
  color:black;
}
.hot-status{
  background-color:#e60505 !important; ;
  text-align: center;
  padding: 5px;
  width: 80px;
  color:white !important;;
}

.warm-status{
  background-color:#e68405 !important; ;
  text-align: center;
  padding: 5px;
  width: 80px;
  color:white !important;;
}
.warm-status-pos{
  background-color:#e68405 !important; ;
  color:white !important;;
  text-align: center;
  padding: 3px 10px;
  font-size: 14px;
  width: 90px !important;
  height: 27px;
  margin-top: 11px;
}



/* end of prospect view */

.panel-heading-custom {
  background-color: #00a8f3;
  text-align: center;
  color: white;
  border-top: 1px solid #ddd;
  border-color: #428bca;
  font-size: 16px;
  line-height: 44px;
}

.left-align{
  padding-left: 0;
}
.add-discussions{
  padding: 5px;
}

.attachment{
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;

}
.attach-image{
  margin-left: 15px;
  width: 70px;
  height: 70px;
}

.attach-image-detail{
  width: 40px;
  height: 40px;

}
.displayDiv{
  display: none;
}
/* start of SLA TRacker */
.step1-text{
  font-size: 16px;
  margin-left: 29% ;
  font-weight: bold !important;
}

.step2-text{
  font-size: 16px;
  margin-left: 27%;
}
.step1-text-color{
  font-size: 16px;
  margin-left: 29% ;

}
.step2-text-color{
  font-size: 16px;
  margin-left: 27%;
  font-weight: bold !important;

}
.sla-image{
  margin-top:-15px;
  margin-left: 27% !important;
  padding: 25px !important;
}
.sla-cancel-button{
  background-color: #808080 !important;
  color: white !important;
  margin-left: -5%;
  width: 120px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel-heading1 {
  width: 100%;
  text-align: center;
  color: white;
  background-color:  #034f84;
  padding-top: 1px;
  padding-bottom: 1px;
}
.panel2
{
  margin-left: 4%;

  height:100%;
  width:92%;
}
.text-class
{
  font-size:18px;
  padding-top: 20px;
  padding-left:5px;
  padding-bottom: 10px;
  color:#ff0000;
  background-color: white;

}
.text-class1
{
  height: 13%;
  width: 100%;
  background-color: #ebebe0;
  padding:5px;
}
.client-class
{
  style:bold;
  font-size:22px;
  color:#000000;
  background-color: #ebebe0;
  height:50px;
}
.Address-class
{
  padding-top:30px;
}
.sub-container
{
  padding-left:20px;
  padding-right:20px;
  background-color:#ebebe0 ;
}
.grad2 {
  position:absolute;
  height: 0px;
  width:0px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #DFDFDF;
  margin-top:-10px;
  margin-left: 520px;
}
.escalation
{
  text-align: center;
}
.first-class1{
  color: #049ad9;
  margin-left: 20px;
}
.data-button1{
  background-color: #808080 !important;
  color: white !important;
  margin-left: 25%;
  width: 120px;
  border-radius: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;}
.data-button2
{
  background-color: #FF7217 !important;color: white !important;
  width: 120px;
  border-radius: 0px;
  padding: 10px 24px;
}
.data-button3
{
  background-color: #3499ff !important;color: white !important;margin-left: 15%;
  width: 130px;
  border-radius: 0;
  padding: 10px 24px;
}
.no-border{
  border:none;
}
.text-class2
{
  color:black;
}
.space-class
{
  height: 16px;
}
.col-pad1{
  padding:4px 20px;
}
.col-pad-post{
  padding:1px 23px;
}
.cancel-sub-class{
  padding-left:39%;
}
.matrix-class
{
  background-color:lightgrey ;
  line-height:60px;
  font-weight:bold;
  font-size:22px;
  text-align:center;
}
.btn-style-class{
  width:100px;
  height:35px;
}

/*end of SLA tracker view */

/* add new discussions */
.modalCenter{
  margin-top: 10% !important;
  border:none;
}

.fileAttach{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
}
.centerBtn{
  margin-left: 35%;
}
.default{
  background: lightslategray;
}
/* end add new discussions */


.select {
  margin-top: 10px;
  position: relative;
  display: block;
  min-width: 325px;
  color: #555555;
  vertical-align: middle;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  border-bottom:1px solid #dfdfdf
}
.select .placeholder {
  position: relative;
  display: block;
  background-color: #fff;
  z-index: 1;
  cursor: pointer;
}
.select .placeholder:after {
  position: absolute;
  right: 0;
  bottom:0;
  content:"";
  width: 0;
  height: 0px;
  border-bottom: 15px solid #dfdfdf;
  border-left: 15px solid transparent;
  z-index: 10;
}
.select.is-open ul {
  display: block;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.select ul {
  display: none;
  position: absolute;
  overflow: hidden;
  width: auto;
  background: #fff;
  top: 100%;
  right: 0;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  z-index: 100;
}
.select ul li {
  display: block;
  text-align: left;
  padding: 8px 15px;
  color: #999;
  cursor: pointer;
}
.select ul li:nth-child(odd){
  background:#f5f5f5

}
.dropdown-title{
  font-size: 16px;
  margin: 0px 0px 0px;
  /*  color: #BDBDBD;*/
  color:#555555;
}

.cancel-right-class{
  margin-right:1%;
}

/* end of create possibility view */
.first-class2{
  color: #049ad9;

}

.form-custom-padding{
  padding: 0px 50px;
}
.pad-t-20{
  padding-top: 20px;
}
.app-container-blur {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}



.pad-b-20{
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

/* comments for view od new oppurtunity */
.new-class{
  font-size: 20px;
  text-align: center;
  margin-left: 20px;
}
.detailsContentDiv-new{
  display: table;
  width: 80%;
  margin-left: 10%;
}
.list-details{
  width:30%;
}
.distance{
  margin-bottom: 10px;
}

.dates{
  margin-right: 10px;
  color: black;
}
/*  start of comments for dashboard UI */
.graph-background{
  width:90%;
  margin-left: 5%;
}
.graph{
  width: 80%;


}
/* end of dashboard UI comments */
/* start of comments for dashboard UI */
.nv-legend-symbol {
  display: none !important;
}
.nv-legend-text{
  display: none !important;
}
/*end of dashboard UI comments */

/*viewpossibility status filter*/

.mrg-dropdown{
  margin-left: -150px;
}

/*end viewpossibility status filter*/
/*add discussion popup*/
.diss-radios-form{
  margin-top: 57px;
}
.mrg-label{
  margin-left: 50px;
  margin-top: 30px;
  color: #737373;
}
.mrg-textarea{
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 7px !important;
  background-image: none;
  overflow-y: scroll ;
}
/*end add discussion popup*/
/* start of comments for discussion UI */
.line2{border-top: 1px solid #8c8b8b;
  margin-top: 50px;
  margin-left: 49px;
  margin-right: 47px;}

.discussion-container{
  margin-left: 46px;
  margin-right: 47px;
  border-radius: 9px !important;
  border: 1px solid #cccccc;
  padding: 9px !important;
}
.discussion-buton{
  margin-right: 54px;
  margin-bottom: -45px;
  margin-top: -1px;
}
.summary-text{
  padding-right: 36px;}

.space-mrg{
  margin-top: 8px;}
/* end of comments for view discussion UI */
/* start comments for view prospect UI top images */
.agr-img-class{ background-color: #8c8c8c
}
.work-img-class{background-color: #af539b
}
.agr-status-text-color{color:#8c8c8c;font-weight: bold;white-space: nowrap}
.work-status-text-color{color:#af539b;font-weight: bold;white-space: nowrap}
/* end of comments for view prospect UI */

/*views table margin*/
.status-drop{
  margin: 0px;
}
/*end views table margin*/

.status-met{
    background-color: #e68405 !important;
}
.status-notmet{
    background-color: #8C8866 !important;
}
.status-inactive{
    background-color: #A8A8A7 !important;
}
.status-cold{
    background-color: #A8A8A7 !important;
}
.status-warm{
    background-color: #E48204 !important;
}
.status-hot{
    background-color: #e60505 !important;
}
.status-lost{
    background-color: #a948b8 !important;
}
.status-won{
    background-color: #15b929 !important;
}
.status-AOC{
    background-color: #8c8c8c !important;
}
.status-WIP{
    background-color: #af539b !important;
}

/*create prospect agreement*/
.up-marginagr{
  margin-top: 60px;
}
.skill .panel-heading{
  background-color:#A3939D !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.position .panel-heading{
  background-color:#72C3E1 !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.cv .panel-heading{
  background-color:#85ABB8 !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.cv-listed .panel-heading{
  background-color:#A1AAAF !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.interviews .panel-heading{
  background-color:#71625F !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.offers .panel-heading{
  background-color:#A28B62 !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.joinees .panel-heading{
  background-color:#B57F7F !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.reneges .panel-heading{
  background-color:#A16C80 !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.attrition .panel-heading{
  background-color:#9BA6BC !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.balance .panel-heading{
  background-color:#6284A0 !important;
  color: white;
  text-align: center;
  font-weight: bold;
}
.numbers-data{
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
/*end create prospect agreement*/

/* start comments for Create possibility UI */
.line-upload{
  width: 100%;
  border-top: 2px solid #8c8b8b;
  margin-top: 50px;}
.contact{font-size: 22px;
  padding-left: 21px;
color:#049ad9 !important;}
/* end of comments for create possibility UI */

.plus .panel-heading a:after{
    content: '' !important;
}
