/*.nav>li.act1>a:hover{
  background-color: green;
}*/
/*.nav>li.act1>a:active{
  background-color: #5cffbf !important;
}*/
/*.active-nav:hover,:active,:focus{
  background-color: #00aa9a;

}*/
.bg-dark .nav > li:hover > a,
.bg-dark .nav > li:focus > a,
.bg-dark .nav > li.active > a {
  color: #8A8A8A;
  background-color:white;}

.col-padding-class{
  padding:14px 58px;
}
.change-pwd-text{

}
