
.bg-dark .nav > li:hover > a{
  color: white;
  background-image:url("../img/navbar_selected.png") !important;
  background-color: #d7d7d7;

}
.bg-dark .nav > li.active > a {
  color: white;
  background-image:url("../img/navbar_selected.png") !important;
 background-color: #474747;
}

.col-padding-class{
  padding:14px 58px;
}
.change-pwd-text {
  background-color: white;
  border-left: 1px solid red;
}

.table-th-heading {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}

.col-padding-class{
  padding:14px 58px;
}

.search-box-width{
  width: 50%;
}
.td-text-color{
  color: #2277b1;
}
.left-inner-addon input {
  padding-left: 12px !important;
}
.wrapper {
  padding: 1px !important;
}
.share-transfer {
  margin-top: 2px;
  width: 110px;
  height: 31px;
  color: #141414;
  background-color: #f8f8f8;
  padding: 3px 5px 5px 16px;
  margin-right: 5px;
  border-width: 1px !important;
  border-style: solid;
  border-color: #dad7d7 !important;

}
.row-height{
  background-color: white;
  height: 35px
}

.check-share-transfer{
  padding: 5px;
  margin-top: 2px;
}
.add-button{
  margin-top: 3px;
  margin-right: 5px;
}
.table-up-mrg{
  margin-top: -15px;
}
.share-prospect{
  margin-left: 12%;
}


/*.modal-dialog .mdl-center{
  width: 600px;
  margin: 60% auto;
}*/
.checkBox-showall
{
  width: 110px;
  height: 30px;
  color: white;
  background-color: darkgrey;
  padding: 3px 5px 5px 16px;
  margin-right: 5px;

}
.check-box-poss{
  margin: 5px 20px 0px 10px !important;
}
.checkbox-poss{
  width: 15px;
  height: 25px;
  color: white;
  border-radius: 3px;
}
.date-pick-right-mrg{
  margin-right: -35px;
}
@media (min-width: 768px) {
    .modal-sm {
    width: 400px;
  }
}

.share-button{
  margin-left: 5%;
  border-radius: 0px !important;
  color: white !important;
}
