
.bg-dark .nav > li:hover > a,
.bg-dark .nav > li.active > a {
  color: white;
  background-image:url("../img/navbar_selected.png") !important;
 background-color: #d7d7d7;
}

.col-padding-class{
  padding:14px 58px;
}
.change-pwd-text {
  background-color: white;
  border-left: 1px solid red;
}

.table-th-heading {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}

.col-padding-class{
  padding:14px 58px;
}

