
.bg-dark .nav > li:hover > a{
  color: white;
  background-image:url("../img/navbar_selected.png") !important;
  background-color: #d7d7d7;

}
.bg-dark .nav > li.active > a {
  color: white;
  background-image:url("../img/navbar_selected.png") !important;
 background-color: #474747;
}

.col-padding-class{
  padding:14px 58px;
}
.change-pwd-text {
  background-color: white;
  border-left: 1px solid red;
}

.table-th-heading {
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center !important;
}

.col-padding-class{
  padding:14px 58px;
}

.search-box-width{
  width: 50%;
}
.td-text-color{
  color: #2277b1;
}
.left-inner-addon input {
  padding-left: 12px !important;
}
.wrapper {
  padding: 1px !important;
}
.share-transfer {
  margin-top: 2px;
  width: 110px;
  height: 31px;
  color: #141414;
  background-color: #f8f8f8;
  padding: 3px 5px 5px 16px;
  margin-right: 5px;
  border-width: 1px !important;
  border-style: solid;
  border-color: #dad7d7 !important;

}
.row-height{
  height: 35px
}

.check-share-transfer{
  padding: 5px;
  margin-top: 2px;
}
.add-button{
  margin-top: 3px;
  margin-right: 4px;
}
.table-up-mrg{
  margin-top: -15px;
}
.share-prospect{
  margin-left: 12%;
}


/*.modal-dialog .mdl-center{
  width: 600px;
  margin: 60% auto;
}*/
.checkBox-showall
{
  width: 110px;
  height: 30px;
  color: white;
  background-color: darkgrey;
  padding: 3px 5px 5px 16px;
  margin-right: 5px;

}
.check-box-poss{
  margin: 5px 20px 0px 10px !important;
}
.checkbox-poss{
  width: 15px;
  height: 25px;
  color: white;
  border-radius: 3px;
}
.date-pick-right-mrg{
  margin-right: -39px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
    .modal-sm {
    width: 400px;
  }
}

.share-button{
  margin-left: 5%;
  border-radius: 0px !important;
  color: white !important;

}

.table-bod>tbody>tr>td:nth-child(1) {
  color: #2277b1;
}
.first-contact{color: #03a9f4 ;}
.second-contact{margin-right: 6%;}
.data-SLA-save
{
  background-color: #FF9C00 !important;color: white !important;
  width: 120px;
  border-radius: 0px;
  padding: 10px 24px;
}
/* start of comments for SLA Tracker UI */
.line1{border-top: 1px solid #8c8b8b;margin-top: 105px;}
.mrg-reset{margin-top: 26px}
.mrg-reset-head{margin: 0px;
  font-weight:bold;}
.BGV-text{padding: 4px 45px;}
.insurence-text{    margin-top: -17px;
  margin-left: 10px}
.in-pad{padding-top: 14px;}
/* end of comments for SLA Tracker UI */

div > div > svg > text {visibility: hidden;}

.no-resize{
  resize: none;
}

.update-profil-heading{
  width:800px;
  background-color: white;
  margin-top: 133px;
}
.update-profil-body{
  height: 60px;
  width: 800px;
  background-color: #2277b1;
  margin-left: 0px;
  margin-top: -15px;
  padding-top: 17px;
  padding-left: 24px;
  color: white;
}

.update-prfl-input{    width: 95%;
  margin-left: 75px;
}

.update-prfl-input2{
  margin-left: 23px;
}
/*modal for change pass*/
.change-passwordmodal{
  margin-top: 187px;
}
/*end modal for change pass*/

/* comments for dropdown triangle */
.triangle {
  width: 0;
  height: 1px !important;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  top: -8px;
  left: 50%;
  margin-left: 65px;
}
.caret{
  display: inline-block;
  width: 10px;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 6px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.welcome-textt{margin-top: 102px;margin-left: -41px}
.p-txt{margin-left: -13px;}
/* end of comments for header.html */

.required-field{
  color: red;
}
.hr-line{
  border-top: 1px solid #8c8b8b;
  margin-top: 105px;
  width: 100% !important;
}
.error-msg{
  background-color: #f81212;
  color: white;
  border-radius: 3px;
  padding: 4px;
  font-size: 10px;}

.action-distance{
  margin-right: 15px !important;

}

.status-padding-symbol{
  margin-left: 20px !important;
}

.action-padding{
  padding-left: 45px !important;
}

.delete-color{
color: #049ad9}
@media (min-width: 768px){
  .app-aside-folded .navi > ul > li > a{
    padding: 10px 20px;
  }

}
/*.monthtpl .btn, .input-group-btn .btn{

  padding: 8px 7px;
  margin: 2px 1px;
  font-size: 10px;}*/
.present .dropdown-menu table > tbody > tr > td .btn.btn-default {
  padding: 8px 7px;
  margin: 2px 1px;
  font-size: 10px;
}

/*.yeartpl .btn, .input-group-btn .btn{
  padding: 8px 5px !important;
  margin: 4px 1px !important;
  font-size: 12px !important;
  }*/
.cal-img{
  border-top: 2px solid #DADDDF !important;
  border-right: 2px solid #DADDDF !important;
  border-bottom: 2px solid #DADDDF !important;
  padding: 3px 6px ;
}
.input-group .input-group-addon {
  border: 0;
  background: white !important;
}
.date-bottom-mrg{
  margin-bottom: -15px !important;
}
.date-rigght-mrg{
  margin-right: -15px !important;
}

.preview-file{
  margin-top:21px !important;
}
.age-select .select{min-width: 100% !important;}
.p-0{padding: 0px;margin: -1px}
.present .dropdown-menu table > tbody > tr > td .btn.btn-sm {color: #636363 !important;}
.form-group .checkbox label, .form-group .radio label, .form-group  .age-text {
  font-size: 16px !important; color:#8c8c8c;}
.age-text{font-size: 16px !important; color:#8c8c8c;}
.space-age{margin-top: 40px}
.space-top{margin-top: 74px}
.font-ind{font-size: 16px}

.m-r .select{margin-right: -21px !important;}
.p-bottom{padding-bottom: 33px;}
.client-req{font-size: 19px;
  color: #049ad9;
  margin-left: 30px;}
.p-r {padding-right: 0px !important;}
.p-l-20{padding-left: 20px;}
.m-t-20{margin-top: 20px}

.roll-out{
  margin-top: 50px;
  margin-left: -109px;
}
.tooltipp {
  position: relative;
  display: inline-block;
}
.tooltipp .tooltiptextt {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 3px 2px 3px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
font-size: 11px !important;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}
.tooltipp:hover .tooltiptextt {
  visibility: visible;
  opacity: 1;
}
.excel{width: 47px;
  padding: 4px;
  text-transform: none;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 1067px;}
.excel_pos{    width: 47px;
  padding: 4px;
  text-transform: none;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 1008px;}
.select-scroll{
  overflow-y: auto !important;
  max-height: 180px !important;
  width: 100% !important;}
.cal-align{
  margin-left: 446px !important;
  margin-top: -58px;
  width: 20px;
  height: 20px;
}
.req-plus{  height: 40px;
  margin-bottom: 12px;
  background-color: #f3f3f3;}
.req-line{border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 31px;}
.re-accordian{ margin-top: 23px;}
.add-req{color: #5c5d5b;
  font-size: 18px;
  font-weight: bold;
  padding: 0px;}
.status-pro{margin-top: -71px;
  width: 198px;}
.excel-row{height: 38px;
  background-color: white;
  margin-bottom: 9px;
  margin-top: 10px;}
.excel-emp{width: 47px;
  padding: 4px;
  text-transform: none;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 1058px;}
