<div class="signin-background">
<toaster-container
        toaster-options="{'position-class': 'toast-top-right', 'showDuration':'200', 'hideDuration':'200','showMethod':'fadeIn','hideMethod':'fadeOut'}"></toaster-container>
<div class="container w-xxl w-auto-xs" ng-controller="SignInFormController" ng-init="app.settings.container = false;"
     cg-busy="{promise:myPromise}" >
  <!--<span class="navbar-brand block m-t">{{app.name}}</span>-->
    <img src="http://smacx-dev.s3.amazonaws.com/server/upload/bec0c361-a9c7-4633-801a-d5c7f90252d3/bec0c361-a9c7-4633-801a-d5c7f90252d3.png" alt="eCentric-Jobs" class="navbar-brand block m-t" style="width:65%;margin-left:20% " />
    <div class="m-b-lg">
        <!--<div class="wrapper text-center">
            <strong>Sign in to get in touch</strong>
        </div>-->
        <br />
        <form name="signinForm" class="form-validation" novalidate>
            <div class="text-danger wrapper text-center" ng-show="authError">
               {{ authError }}
            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" name="email" placeholder="Email" class="form-control no-border" data-ng-model="user.email"
                           required>
                    <small ng-show="signinForm.email.$invalid && signinForm.email.$dirty"
                           class="label label-danger"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp;Give
                        your registered email
                    </small>
                </div>
                <div class="list-group-item">
                    <input type="password" name="password" ng-minlength="6" placeholder="Password" class="form-control no-border"
                           data-ng-model="user.password" ng-maxlength=18 required >
                    <div class="error-container" ng-show="signinForm.password.$dirty && signinForm.password.$invalid">
                        <small class="error label label-danger" ng-show="signinForm.password.$error.required">Enter
                            your Password
                        </small>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="logIn(user)"
                    ng-disabled="signinForm.$invalid">Log in
            </button>
            <div data-ng-if="app.access.forgotPassword == true">
                <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div>
            </div>
            <div>
              <div class="text-center m-t m-b"><a ui-sref="access.resendVerification">Not yet Received Verification mail?</a></div>
            </div>
            <div class="line line-dashed"></div>
            <div data-ng-if="app.access.signUp">
                <p class="text-center">
                    <small>Do not have an account?</small>
                </p>
                <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Create an account</a>

                <div class="text-center m-t m-b">
                    <div class="">
                        <input type="image" src="../../images/facebook-icon.png" ng-click="fbLogin()">
                    </div>
                </div>

               <!--div class="text-center m-t m-b">
                    <div class="">
                        <google-plus-signin clientid="620125449078" language="sv"></google-plus-signin>
                    </div>
                </div>
-->
                <!--<div >
                    <google-plus-signin clientid="889426041553-h3lhpm6kdb3q309sbf73n2bcjd1ism1n.apps.googleusercontent.com"></google-plus-signin>
                </div>-->


            </div>
        </form>
    </div>
</div>
</div>