  <div class="container">
                <div class="panel panel-default second-panel up-margin">
                    <div class="panel-heading">
                   Empanelment
                     </div>

                    <div class="panel-body">
                        <div class="form-group pull-right">
                         <button class="btn btn-primary update-button" ui-sref="app.slaTracker">SLA Tracker</button>
                        </div>
                        <hr class="line1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                            <input class="form-control bord-remove" type="text" placeholder="Pricing Mode">
          </div>
                     <div class="form-group">
                            <input class="form-control bord-remove" type="text" placeholder="No of Credit Days">
          </div>
                                </div>
                             <div class="col-md-6">
                         <div class="form-group">
                            <input class="form-control bord-remove" type="text" placeholder="Credit Term">
          </div>
                                 <div class="form-group">
                            <input class="form-control bord-remove" type="text" placeholder="Pay Cycle Date">
          </div>
                                </div>
                            </div>
                         <div class="row">
                            <div class="col-md-6">
                               <div class="form-group">
                            <input class="form-control bord-remove" type="text" placeholder="Bill Cycle Date">
          </div>

                          </div>



                            </div>

                         <div class="col-md-6 col-md-offset-5">
                        <div class="form-group">

                            <button class="btn btn-primary data-button">Cancel</button><button class="btn btn-primary data-button">Submit</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
