<div class="container col-md-12 pad-t-20" data-cg-busy="{promise:myPromise,message:'Retriving Possibilities'}">
  <accordion class="plus possibility-head">
    <accordion-group is-open="status.open">
      <accordion-heading>
        <span>Client Information</span><i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
      </accordion-heading>
      <form name="createPossibilityForm" class="app-container-blur">
        <div class="row">
          <div class="col-md-12 ">
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating">
                <label class="control-label">Legal Entity</label>
                <input class="form-control" required data-ng-model="saleObject.client.legalName" type="text">
              </div>
              <div>
                <label class="control-label">Bussiness Vertical</label>

                <input class="form-control" data-ng-model="saleObject.client.vertical" type="text">
              </div>
              <div>
                <label class="control-label">Employee Size of the Company</label>
                <input class="form-control" required data-ng-model="saleObject.client.employeeSize" type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Address Line 1</label>
                <input class="form-control" required data-ng-model="saleObject.client.address.address1 " type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">City</label>
                <input class="form-control" required data-ng-model="saleObject.client.address.city " type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Zipcode</label>
                <input class="form-control" required numbers-only maxlength="6" data-ng-model="saleObject.client.address.pin" type="text">
              </div>
              <div class="label-floating ">
                <label class="control-label">Country</label>
                <input class="form-control" required data-ng-model="saleObject.client.address.country" type="text">
              </div>
              <div class="up-margin">
                <ul>
                  <li ng-repeat="f in createPossibility.documents" style="font:smaller">{{f.name?f.name:f.type}} {{f.$error}} {{f.$errorParam}}
                    <img ng-src="{{f.url}}" class="thumb"></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating ">
                <label class="control-label">Business Unit</label>
                <input class="form-control" required data-ng-model="saleObject.client.businessUnit" type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Website URL</label>
                <input class="form-control" required data-ng-model="saleObject.client.website" type="text">
              </div>
              <div>
                <label class="control-label">Group Turnover</label>
                <input class="form-control" data-ng-model="saleObject.client.turnover" required type="text">
              </div>
              <div>
                <label class="control-label">Type of Customer</label>
                <input class="form-control" data-ng-model="saleObject.client.customerType" type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Address Line 2</label>
                <input class="form-control" data-ng-model="saleObject.client.address.address2" type="text">
              </div>
              <div class="form-group label-floating">
                <label class="control-label">State</label>
                <input class="form-control" required data-ng-model="saleObject.client.address.state" type="text">
              </div>
              <br>
              <div data-ng-if="!isNewPossibility">
                <label class="control-label">Status</label>
                <input class="form-control" required data-ng-model="saleObject.possibility" type="text">
              </div>
              <!--<div class="form-group1 pull-right ">
                <input data-ng-model="createPossibility.freeze" type="checkbox" class="check">
                <label class=" first-class2 ">Freeze</label>
              </div>-->
            </div>
          </div>
        </div>
      </form>
    </accordion-group>
  </accordion>
</div>
<div class="container col-md-12 mrg-down ">
  <accordion class="plus possibility-head">
    <accordion-group is-open="poc.isOpen" >
      <accordion-heading>
        <span>Contact Details</span><i class="pull-right glyphicon"
                                      ng-class="{' glyphicon-minus': poc.isOpen, ' glyphicon-plus': !poc.isOpen}"></i>
      </accordion-heading>
      <div class=" pull-right app-container-blur" >
        <div class="col-md-8">
          <div class="form-group">
<label>Status</label>
            <div custom-select data="status" value="saleObject.suspect" style="margin: -15px;margin-top: -5px"></div>
          </div>
        </div>
      </div>
      <hr class="line1">
      <div class="row ">

        <div class="col-lg-10 ">
          <accordion  >
            <accordion-group is-open="true" ng-repeat="poc in saleObject.pointOfContacts" >
              <accordion-heading  >
          <span >
           Contact Person Details
          <i class="pull-right glyphicon" ng-class="{' glyphicon-minus': poc.isOpening, ' glyphicon-plus': !poc.isOpening}">
            </i>
            </span>
              </accordion-heading>
              <div class="row app-container-blur">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating">
                    <label class="control-label">Contact Person Name</label>
                    <input class="form-control bord-remove" data-ng-model="poc.name" type="text">
                  </div>
                  <div class="form-group label-floating">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" data-ng-model="poc.phone" type="text">
                  </div>


                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" data-ng-model="poc.supportLocation" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" data-ng-model="poc.designation" placeholder="Contact Person Designation">
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>

      </div>
</div>
<div class="container col-md-12 mrg-top panel-body ">
  <accordion class="plus possibility-head">
    <div>
    <accordion-group is-open="poc.isOpen" >
      <accordion-heading>
        <span>Business Opportunities</span><i class="pull-right glyphicon"
                                      ng-class="{' glyphicon-minus': poc.isOpen, ' glyphicon-plus': !poc.isOpen}"></i>
      </accordion-heading>

        <div class="form-group pull-right">
          <div class="col-md-8">
            <div class="form-group " style="margin: -15px;">
              <label class="control-label dropdown-col">Status</label>
              <input  custom-select data="prospectStatus" value="saleObject.prospect" type="text" placeholder="Status">

            </div>
          </div>
        </div>
        <hr class="line1">
        <div class="row app-container-blur">
          <div class="col-md-12">
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating">
                <label class="control-label">Client Name</label>
                <input class="form-control" type="text" ng-model="saleObject.client.clientName">
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Business Potential Numbers</label>
                <input class="form-control" type="text" ng-model="saleObject.client.potentialNumbers">
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Quantum of Business Bottomline</label>
                <input class="form-control" type="text" ng-model="saleObject.client.turnover">
              </div>
              <!--<div class="form-group">
                <label class="control-label dropdown-col">Business Vertical</label>
                <input custom-select data="values" placeholder="Business Vertical" />
              </div>-->
            </div>
            <div class="col-md-6 form-custom-padding">
              <!--<div class="form-group label-floating is-empty">
                <label class="control-label">Legal Entity</label>
                <input class="form-control" type="text">
              </div>-->
              <div class="form-group label-floating">
                <label class="control-label">Quantum of Business Topline</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group label-floating">
                <label class="control-label">Expected Date of Closure</label>
                <input class="form-control" type="text">
              </div>

            </div>
          </div>
        </div>

      </accordion-group>
    </div>
    </accordion>

</div>
<div class="container col-md-12 pad-t-20 up-mrg">
    <div class="panel panel-primary second-panel ">
        <div class="panel-heading ">
            Empanelment
        </div>

        <div class="panel-body">
          <form name="empanelment" id="emp">
            <div class="row">
              <div class="col-lg-12">
                <div ng-show="!isSLATrackerFilled()"><h4>Please fill in SLA Tracker to enable submit button</h4></div>
            <div class=" pull-right" >

                <button class="btn btn-primary SLA-button  btn-text" ng-click="toSLATrackerStep1()">SLA Tracker</button>
            </div>
              </div>
            </div>
            <hr class="line1 " style="    margin-top: 10px;">

            <div class="col-md-12 ">


                    <div class="container-fluid">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label">Pricing Mode<span class="required-field">*</span></label>
                                <div custom-select data="pricingMode" value="pricing.mode"></div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 col-pad">
                            <div class="form-group">
                                <label class="control-label">Credit Term<span class="required-field">*</span></label>
                                <div custom-select data="creditTerm" value="pricing.creditTerm"></div>
                            </div>
                        </div>
                    </div>



            </div>

            <div class="col-md-12 ">


                    <div class="container-fluid">
                        <div class="col-md-5">
                            <div class="form-group label-floating" data-ng-class="{'is-empty':!pricing.creditDays}">
                                <label class="control-label">No Of credit Days<span class="required-field">*</span></label>
                                <input class="form-control" ng-model="pricing.creditDays" name="n1" type="text" minlength="1" maxlength="20" numbers-only required>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 col-pad">
                            <div class="form-group ">
                              <div class="input-group col-md-9 present">
                                <input type="text" class="form-control hand-cursor" placeholder="Pay Cycle Date" datepicker-popup="dd-MMMM-yyyy" ng-model="pricing.payCycle" is-open="opened1" show-button-bar="false" ng-required="true" ng-click="open($event,'opened')" readonly>
                                                <span class="input-group-addon required-field" id="basic-addon">
            <img src="img/calendar_icon.png" class="calendar-img " alt="" />*</span>
                              </div>

                            </div>
                        </div>
                    </div>



            </div>
            <div class="col-md-12 ">

                <div class="container-fluid">
                  <div class="col-md-5 ">
                    <div class="form-group ">
                      <div class="input-group col-md-9 present">
                        <input type="text" class="form-control hand-cursor" placeholder="Bill Cycle Date" datepicker-popup="dd-MMMM-yyyy" ng-model="pricing.billCycle" is-open="opened2" show-button-bar="false" ng-required="true" ng-click="opendate($event,'opened')" readonly>
                                                <span class="input-group-addon required-field" id="basic-addon2">
            <img src="img/calendar_icon.png" class="calendar-img " alt="" />*</span>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-5 col-pad">
                    <div class="form-group label-floating ">
                    </div>
                  </div>
                </div>



            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-5 col-pad">
                        <div class="form-group is-empty is-fileinput hand-cursor">
                            <input type="file" id="inputText" multiple="" class="hand-cursor"  ng-model="files" ngf-multiple="true"  ngf-select="upload($files)">
                            <div class="input-group">
                                <input type="text" readonly=""   class="form-control" placeholder="Pan Copy">
                                <span class="input-group-btn input-group-sm ">
                  <button type="button" class="btn warm-status">
                  <i class="material-icons">Browse</i>
                  </button>
                                  <div data-cg-busy="{promise:uploadPromise,message:'Please Wait'}"></div>
                </span>
                            </div>
                            <span class="material-input control-label ">Supported file format PDF,JPEG  </span>
                          <span class="required-field">*</span>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-lg-5 col-pad">
                        <div class="form-group is-empty is-fileinput hand-cursor">
                            <input type="file" id="inputFile4"  class="hand-cursor" multiple=""   ngf-select="uploadFileA($file1)" ng-model="file1" ngf-multiple="true">
                            <div class="input-group">
                                <input type="text" readonly="" id="inputText2" class="form-control" placeholder="Agreement Copy">
                                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status">
                  <i class="material-icons">Browse</i>
                  </button>
                                  <div data-cg-busy="{promise:uploadsPromise,message:'Please Wait'}"></div>
                </span>
                            </div>
                            <span class="material-input control-label">Supported file format PDF,JPEG</span>
                          <span class="required-field">*</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-5">
                <div class="form-group">
                    <a ui-sref="app.viewEmpanelment" class="auto">
                        <button class="btn btn-raised  data-button-cancel btn-text">Cancel</button>&nbsp;&nbsp;</a>
                    <button class="btn btn-primary data-button-sub btn-text" data-ng-disabled="empanelment.$invalid || !isSLATrackerFilled()" ng-click="createEmpanelment()">Submit</button>
                </div>
            </div>
</form>
        </div>

    </div>

</div>
