<div class="container col-md-12 pad-t-20" data-cg-busy="{promise:myPromise,message:'Retriving Possibilities'}">
  <accordion class="plus possibility-head">
    <accordion-group is-open="status.open">
      <accordion-heading>
        <span>Client Information</span><i class="pull-right glyphicon"
                                 ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
      </accordion-heading>
      <form name="createPossibilityForm" class="app-container-blur">
        <div class="row">
          <div class="col-md-12 ">
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating">
                <label class="control-label">Legal Entity</label>
                <input class="form-control" required data-ng-model="createPossibility.legal_name" type="text">
              </div>
              <div>
                <label class="control-label">Bussiness Vertical</label>

                <input class="form-control" data-ng-model="createPossibility.vertical" type="text">
              </div>
              <div>
                <label class="control-label">Employee Size of the Company</label>
                <input class="form-control" required data-ng-model="createPossibility.employee_size" type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Address Line 1</label>
                <input class="form-control" required data-ng-model="createPossibility.address.address_line_1 " type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">City</label>
                <input class="form-control" required data-ng-model="createPossibility.address.city " type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Zipcode</label>
                <input class="form-control" required numbers-only maxlength="6" data-ng-model="createPossibility.address.pin" type="text">
              </div>
              <div class="label-floating ">
                <label class="control-label">Country</label>
                <input class="form-control" required data-ng-model="createPossibility.address.country" type="text">
              </div>
              <div class="up-margin">
                <ul>
                  <li ng-repeat="f in createPossibility.documents" style="font:smaller">{{f.name?f.name:f.type}} {{f.$error}} {{f.$errorParam}}
                    <img ng-src="{{f.url}}" class="thumb"></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating ">
                <label class="control-label">Business Unit</label>
                <input class="form-control" required data-ng-model="createPossibility.unit_name" type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Website URL</label>
                <input class="form-control" required data-ng-model="createPossibility.url" type="text">
              </div>
              <div>
                <label class="control-label">Group Turnover</label>
                <input class="form-control" data-ng-model="createPossibility.turnover" required type="text">
              </div>
              <div>
                <label class="control-label">Type of Customer</label>
                <input class="form-control" data-ng-model="createPossibility.customer_type" type="text">
              </div>
              <div class="form-group label-floating ">
                <label class="control-label">Address Line 2</label>
                <input class="form-control" data-ng-model="createPossibility.address.address_line_2" type="text">
              </div>
              <div class="form-group label-floating">
                <label class="control-label">State</label>
                <input class="form-control" required data-ng-model="createPossibility.address.state" type="text">
              </div>
              <br>
              <div data-ng-if="!isNewPossibility">
                <label class="control-label">Status</label>
                <input class="form-control" required data-ng-model="createPossibility.current_status.status" type="text">
              </div>
              <div class="form-group1 pull-right ">
                <input data-ng-model="createPossibility.freeze" type="checkbox" class="check">
                <label class=" first-class2 ">Freeze</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </accordion-group>
  </accordion>
</div>
<div class="container col-md-12 mrg-down ">
  <accordion class="plus possibility-head">
    <accordion-group is-open="poc.isOpen" >
      <accordion-heading>
        <span>Contact Details</span><i class="pull-right glyphicon"
                                      ng-class="{' glyphicon-minus': poc.isOpen, ' glyphicon-plus': !poc.isOpen}"></i>
      </accordion-heading>
      <div class="form-group pull-right mrg-formgrp mrg-top-apply app-container-blur" >
        <div class="col-md-8">
          <div class="form-group">
            <label >Status</label>
            <div custom-select data="status"></div>
          </div>
        </div>
      </div>
      <hr class="line1">
      <div class="row ">

        <div class="col-lg-10 ">
          <accordion  >
            <accordion-group is-open="poc.isOpening" >
              <accordion-heading >
          <span >
           Contact Person Details
          <i class="pull-right glyphicon" ng-class="{' glyphicon-minus': poc.isOpening, ' glyphicon-plus': !poc.isOpening}">
            </i>
            </span>
              </accordion-heading>
              <div class="row app-container-blur">
                <div class="col-md-5 col-pad">
                  <div class=" form-group label-floating is-empty">
                    <label class="control-label">Contact Person Name</label>
                    <input class="form-control bord-remove" data-ng-model="poc.name" type="text">
                  </div>
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone Number</label>
                    <input class="form-control bord-remove" data-ng-model="poc.phone" type="text">
                  </div>


                </div>
                <div class="col-md-5 col-md-offset-2">
                  <div class="form-group label-floating is-empty">
                    <label class="control-label">Address</label>
                    <input class="form-control bord-remove" data-ng-model="poc.support_location" type="text">
                  </div>
                  <div class="form-group">
                    <input class="form-control bord-remove" type="text" data-ng-model="poc.designation" placeholder="Contact Person Designation">
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <!-- <div class="col-md-6">
           <h4 class="color-black">Roll out of a proposal</h4>
           <div class="form-group is-empty is-fileinput">
             <input type="file" id="inputFile4" multiple="">
             <div class="input-group">
               <input type="text" readonly="" class="form-control" placeholder="No selected file">
                 <span class="input-group-btn input-group-sm">
                   <button type="button" class="btn warm-status btn-sm glyphicon glyphicon-paperclip">
                   <i class="material-icons">attach file</i>
                   </button>
                 </span>
             </div>
             <span class="material-input control-label">Supported file format PDF,DOC,PPT.</span>
           </div>
         </div>-->
      </div>
</div>
<div class="container col-md-12 mrg-top panel-body ">
  <accordion class="plus possibility-head">
    <div>
    <accordion-group is-open="poc.isOpen" >
      <accordion-heading>
        <span>Business Opportunities</span><i class="pull-right glyphicon"
                                      ng-class="{' glyphicon-minus': poc.isOpen, ' glyphicon-plus': !poc.isOpen}"></i>
      </accordion-heading>

        <div class="form-group pull-right">
          <div class="col-md-8">
            <div class="form-group mrg-formgrp">
              <input  custom-select data="status_prospect"  type="text" placeholder="Status">

            </div>
          </div>
        </div>
        <hr class="line1">
        <div class="row app-container-blur">
          <div class="col-md-12">
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating is-empty">
                <label class="control-label">Client Name</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group label-floating is-empty">
                <label class="control-label">Business Potential Numbers</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group label-floating is-empty">
                <label class="control-label">Quantum of Business Bottomline</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group">
                <input custom-select data="values" placeholder="Business Vertical" />
              </div>
            </div>
            <div class="col-md-6 form-custom-padding">
              <div class="form-group label-floating is-empty">
                <label class="control-label">Legal Entity</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group label-floating is-empty">
                <label class="control-label">Quantum of Business Topline</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group label-floating is-empty">
                <label class="control-label">Expected Date of Closure</label>
                <input class="form-control" type="text">
              </div>

            </div>
          </div>
        </div>

      </accordion-group>
    </div>
    </accordion>

</div>
<div class="container col-md-12 pad-t-20 up-mrg">
    <div class="panel panel-primary second-panel ">
        <div class="panel-heading ">
            Empanelment
        </div>

        <div class="panel-body">
            <div class="form-group pull-right">
                <button class="btn btn-primary SLA-button mrg-top" ui-sref="app.slaTracker">SLA Tracker</button>
            </div>

            <hr class="line1 ">

            <div class="col-md-12 ">

                <form name="usrform" novalidate id="usrform1" class="bs-component">
                    <div class="container-fluid">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label">Pricing Mode</label>
                                <div custom-select data="pricingMode"></div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 col-pad">
                            <div class="form-group">
                                <label class="control-label">Credit Term</label>
                                <div custom-select data="creditTerm"></div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

            <div class="col-md-12 ">

                <form name="usrform" novalidate id="usrform1" class="bs-component">
                    <div class="container-fluid">
                        <div class="col-md-5">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">No Of credit Days</label>
                                <input class="form-control" name="n1" type="text" minlength="3" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 col-pad">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">PayCycle Date</label>
                                <input class="form-control" required="required" type="text" minlength="3" maxlength="20">
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-12 ">

                <form name="usrform" novalidate id="usrform" class="bs-component">
                    <div class="container-fluid">
                        <div class="col-md-5">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Bill Cycle Date</label>
                                <input class="form-control" name="n1" type="text" minlength="3" maxlength="20">
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 col-pad">
                            <div class="form-group label-floating ">
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-5 col-pad">
                        <div class="form-group is-empty is-fileinput">
                            <input type="file" multiple="">
                            <div class="input-group">
                                <input type="text" readonly="" class="form-control" placeholder="Pan Copy">
                                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status">
                  <i class="material-icons">Browse</i>
                  </button>
                </span>
                            </div>
                            <span class="material-input control-label">Supported file format PDF,JPEG</span>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-lg-5 col-pad">
                        <div class="form-group is-empty is-fileinput">
                            <input type="file" id="inputFile4" multiple="">
                            <div class="input-group">
                                <input type="text" readonly="" class="form-control" placeholder="Agreement Copy">
                                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status">
                  <i class="material-icons">Browse</i>
                  </button>
                </span>
                            </div>
                            <span class="material-input control-label">Supported file formar PDF,JPEG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-5">
                <div class="form-group">
                    <a ui-sref="app.viewEmpanelment" class="auto">
                        <button class="btn btn-raised  data-button-cancel ">Cancel</button>&nbsp;&nbsp;</a>
                    <button class="btn btn-primary data-button-sub">Submit</button>
                </div>
            </div>

        </div>

    </div>

</div>
