
<div   class="panel main-content panel-primary" >
  <div class="pheading">
    <div class="panel-heading  "><h4 class="SLA-text"><strong>SLA Tracker Internal Process(Ver 1.0)</strong></h4></div></div>
  <div class="panel-body ">
    <div class="container">
    <div class="row">
        <span>
          <span class="step1-text-color">step 1</span>
           <span class="step2-text-color">step 2</span>
        </span>
      <div><img src="img/icon_step2.png" class="sla-image" ></div>
    </div></div>
    <div class="text-class" >All fields are mandatory</div>
    <div class="row client-text " >
        <div class="col-md-6">TimeSheet/Atendence Related</div>
        <div class="col-md-6">Activity Owners</div>
    </div>

    <div  class="col-md-12 ">

      <form  name="usrform" novalidate id="usrform" class="bs-component ">
        <div class="container-fluid ">
          <div  class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >TimeSheet/Attendence Cycle</label>
              <input class="form-control" name="n1"  type="text" >

            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >TimeSheet and Payroll</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form name="usrform" novalidate class="bs-component">
        <div class="container-fluid">
          <div  class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Timesheet/Atendence Collection Process</label>
              <textarea class="form-control  bord-remove" name="n3"   type="text"
              minlength="3" maxlength="20" ng-required="usrform.n3.$error" ></textarea>
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Salary Payout</label>
              <input class="form-control" name="n4"  type="text" >
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">

            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Invoice Submission & Payment Followup</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >PO</label>
              <input class="form-control" class="focusedInput1" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">

            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Disputes & Resolutions</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
  <div class="panel-body ">
    <div class="row client-text " >
      <div class="col-md-6">Payroll & Invoicing(Billing) Related</div>
      <div class="col-md-6">PO & Invoice Related</div>
    </div>

    <div  class="col-md-12 ">

      <form  name="usrform" class="bs-component ">
        <div class="container-fluid ">
          <div  class="col-md-5 ">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Payroll Cycle</label>
              <input class="form-control"  type="text">
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div  class="form-group label-floating is-empty">
              <label class="control-label" >PO Process</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form  class="bs-component">
        <div class="container-fluid ">
          <div  class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Leaves</label>
              <input class="form-control" type="text" >
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Discounts</label>
              <input class="form-control" type="text" >
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Billing & Invoice Process</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Billing Office Address & Contact Number</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">

            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Shipping Office Address & Contact Number</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    </div>

  <div class="panel-body ">
    <div class="row client-text " >
      <div class="col-md-12 matrix-class ">Client Escalation Matrix</div>

    </div>
    <div  class="col-md-12 ">
      <form  name="usrform" class="bs-component ">
        <div class="container-fluid ">
        <div  class="col-md-5 ">
         <h3 class="text-left first-contact" >1st Point of Contact</h3>
            </div>
            <div  class="col-md-1"></div>
            <div  class="col-md-5 ">
            <h3 class="text-left first-contact second-contact" >2nd Point of Contact</h3>
            </div>
        </div>
      </form>
    </div>

    <div  class="col-md-12 ">

      <form  name="usrform" class="bs-component ">
        <div class="container-fluid ">
          <div  class="col-md-5 ">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Name</label>
              <input class="form-control"  type="text">
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Name</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form  class="bs-component">
        <div class="container-fluid ">
          <div  class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Designation</label>
              <input class="form-control" type="text" >
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Designation</label>
              <input class="form-control" type="text" >
            </div>
          </div>
        </div>

      </form>

    </div>

    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Contact Number</label>
              <input class="form-control" type="text">
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Contact Number</label>
              <input class="form-control" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-5">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Email ID</label>
              <input class="form-control" class="focusedInput1" type="email" required="required">
            </div>
          </div>  <div  class="col-md-1"></div>
          <div class="col-md-5 col-pad">
            <div class="form-group label-floating is-empty">
              <label class="control-label" >Email ID</label>
              <input class="form-control" class="focusedInput1" type="email" required="required">
            </div>
          </div>
        </div>

      </form>

    </div>

  </div>
  <div class="form-group ">

   <a ui-sref="app.createEmpanelment" class="auto">
     <button  type="button" class="btn btn-raised data-button1 btn-text ">Cancel</button>&nbsp;&nbsp;
   </a>
    <button  class="btn btn-raised   data-SLA-save btn-text">Save</button>
    <button type="button" class="btn btn-raised  data-button3 btn-text">Submit</button>

  </div>

  </div>



