



<div   class="panel panel-primary" >
  <div class="panel-heading"><h4 class="SLA-text"><strong>SLA Tracker Internal Process(Ver 1.0)</strong></h4></div>
  <div class="panel-body ">
    <div class="text-class" >All fields are mandatory</div>
    <!--<div class="row" >
        <div class="col-md-6">client</div>
        <div class="col-md-6">client</div>
    </div>-->

    <div class="col-md-12 ">

      <form  name="usrform" novalidate id="usrform" class="bs-component ">
        <div class="container-fluid ">
          <div ng-controller="formCtrl" class="col-md-6 ">
            <div class="form-group label-floating">
              <label class="control-label" >Client Name:</label>
              <input class="form-control" name="n1"  ng-model="n1" type="text" minlength="3" maxlength="20" ng-required="usrform.n1.$error" >
              <span ng-show="usrform.n1.$invalid && usrform.n1.$dirty  ">please enter valid text</span>

            </div>
          </div>
          <div class="col-md-6">
            <div ng-controller="Ctrl" class="form-group label-floating">
              <label class="control-label" >Fixed Fee</label>
              <input-price input-value="num.number" class="form-control"  input-name="num.name" ng-model="num.number" />
              <span ng-show="!num.validity">Value is invalid</span>
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Corporate office:</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Reuimbersment Service Fee</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Address Line 1:</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Sourcing Fee</label>
              <input class="form-control" class="focusedInput1" type="text" required>
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Addresss Line 2:</label>
              <input class="form-control" class="focusedInput1" type="text">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Absorption Fee & Clauses</label>
              <input class="form-control" class="focusedInput1" type="text">
            </div>
          </div>
        </div>

      </form>

    </div>
    <div class="col-md-12 ">

      <form class="bs-component">
        <div class="container-fluid">
          <div class="col-md-6">
            <div class="form-group label-floating">
              <label class="control-label" >Contact Number:</label>
              <input class="form-control" class="focusedInput1" type="number">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group label-floating">
              <button class="btn btn-raised btn-info  pull-right"><i class="fa fa-plus"></i> Other Fees
              </button>

            </div>
          </div>
        </div>

      </form>

    </div>
  </div>

</div>

