<div class="">
  <form>
    <div class="addDiscusHeading modal-header ">
      <h3 class="modal-title "> Add Discussions</h3></div>
    <div class="modal-body ng-binding ng-scope ">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 form-custom-padding">
            <div class="form-group label-floating is-empty">
              <label for="i1" class="control-label">Contact Person</label>
              <input type="text" class="form-control" id="i1">
            </div>
            <!--<div class="input-group">
            <label for="i6" class="control-label">Date</label>
            <input type="text" class="form-control" id="i6">
            <span class="input-group-addon" id="basic-addon2">
            <img src="img/calendar_icon.png" class="calendar-img" alt=""/></span>

          </div>--->


            <!--<label for="i6" class="control-label">Date</label>-->
            <div class="form-group">
              <div class="input-group col-md-9">
              <input type="text" class="form-control"  placeholder="Date">
                <span class="input-group-addon" id="basic-addon2">
            <img src="img/calendar_icon.png" class="calendar-img" alt=""/></span>
             </div>
            </div>
            <div class="form-group">
            <label class="control-label dropdown-col">Type of Discussion</label>

            <div custom-select>

            </div>
          </div>
          </div>
          <div class="col-md-6 form-custom-padding">
            <div class="form-group label-floating is-empty">
              <label for="i7" class="control-label">Venue</label>
              <input type="text" class="form-control" id="i7">
            </div>
            <div class="form-group">
              <div class="input-group col-md-9">
                <input type="time" class="form-control"  placeholder="Time">

              </div>
            </div>
            <div class="form-group diss-radios-form">
              <div class="radio radio-primary">
                <label>
                  <input type="radio" name="call" id="optionsRadios1" value="option1" checked="">
                  <span class="circle"></span>
                  <span class="check"></span>
                  Fresh Call
                </label>
                <label>
                  <input type="radio" value="option2" name="call">
                  <span class="circle"></span>
                  <span class="check"></span>
                  Follow Up Call
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">


          <div class="col-md-11 upward">
            <label for="textArea" class=" mrg-label"><h4>Discussion Summary</h4></label>
            <textarea class="form-control mrg-textarea" rows="3" id="textArea"></textarea>
          </div>
      </div>
       <div class="row">
         <div class="col-md-6 form-custom-padding">
           <div class="form-group is-empty is-fileinput">
             <input type="file" id="inputFile4" multiple="">
             <div class="input-group">
               <input type="text" readonly="" class="form-control" placeholder="No selected file">
                <span class="input-group-btn input-group-sm">
                  <button type="button" class="btn warm-status btn-sm">
                    <i class="material-icons">attach file</i>
                  </button>
                </span>
             </div>
             <span class="material-input control-label">Supported file format PDF,DOC,PPT.</span>
           </div>
         </div>
       </div>
      <div class="centerBtn">
        <a href="javascript:void(0)" class="btn btn-raised btn-default" ng-click="ok()">Cancel</a>&nbsp;
        <a href="javascript:void(0)" class="btn btn-raised btn-info" ng-click="cancel()">Submit</a>
      </div>






      </div>

  </form>
</div>

