
<div class=" container col-md-12 pad-t-20 "  >

  <div class="panel panel-primary second-panel">
  <div class="panel-heading">
    Add New Requirement
  </div>
  <div class="panel-body">
    <div class="row">
          <label  style="margin-top: 20px;
    color: green;
    margin-left: 20px;"><h4>Req ID Created 11W41A0532</h4></label>
    <div class=" pull-right col-md-2">
      <div  class="form-group label-floating  age-text ">
        Status
        <div custom-select data="status_prospect" value="saleObject.prospect" class=" age-select p-0" tabindex="23"></div>
      </div>
    </div></div>
    <hr style="width: 100%;
    border-top: 2px solid #8c8b8b;
    margin-top: 19px;">

    <form name="Requirement">
      <div class="col-md-12 p-bottom">
        <h4 class="client-req">Client Details</h4>
        <div class="col-md-5 col-pad">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Name<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="1">
          </div>

          <div class="form-group ">Requirement Type<span class="required-field">*</span>
            <div custom-select data="requireStatus" value="" class=" age-select p-0" tabindex="23"></div>
          </div>
          <div class="form-group label-floating is-empty ">
            <label class="control-label">Office Location<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Applicable Consulting Fee<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="7">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Manager<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="2">
          </div>
          <!--<div class="form-group label-floating  age-text">
          Permanent Staffing<span class="required-field">*</span>
            <div custom-select data="status_prospect" value="saleObject.prospect" class=" age-select p-0" tabindex="23"></div>
          </div>-->
          <div class="form-group label-floating is-empty">
            <label class="control-label">Practice<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="6">
          </div>
          <div class="form-group label-floating  age-text">
           Priority<span class="required-field">*</span>
            <div custom-select data="priority" value="saleObject.prospect" class=" age-select p-0" tabindex="23"></div>
          </div>
        </div>
      </div>
      <hr style="width: 100%;
    border-top: 2px solid #8c8b8b;">
      <div class="col-md-12">
        <div class="col-md-5 col-pad">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Job Title<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="1">
          </div>
          <div class="form-group label-floating age-text">
           Functional Area<span class="required-field">*</span>
            <div custom-select data="functional_area" value="saleObject.prospect" class=" age-select p-0" tabindex="23"></div>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Qualification<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="5">
          </div>
          <div class="form-group space-age">
            <label class="col-md-3 p-0 age-text" >Age Group<span class="required-field">*</span></label>

            <div class="col-md-9 p-r">
              <div custom-select data="ageData" value="age" class="col-md-6 age-select p-0" tabindex="15"></div>
              <div custom-select data="ageData" value="age" class="col-md-6 age-select p-r p-l-20" tabindex="23"></div>
            </div>
          </div>
          <div class="form-group space-top">
            <label class="col-md-3 p-0 age-text" >Experience<span class="required-field">*</span></label>
            <div class="col-md-9 p-r">
              <div custom-select data="Experience" value="saleObject.prospect" class="col-md-6 age-select p-0" tabindex="23"></div>
              <div custom-select data="Experience" value="saleObject.prospect" class="col-md-6 age-select p-r p-l-20" tabindex="23"></div>
            </div>
          </div>
          <div class="form-group space-top">
            <label class="col-md-3 p-0 age-text" >CTC Range<span class="required-field">*</span></label>
            <div class="col-md-9 p-r">
              <div custom-select data="CTC" value="saleObject.prospect" class="col-md-6 age-select p-0" tabindex=""></div>
              <div custom-select data="CTC" value="saleObject.prospect" class="col-md-6 age-select p-r p-l-20" tabindex=""></div>
            </div>
          </div>
          <div class="form-group space-top">
            <div class="font-ind age-text">Industry<span class="required-field">*</span>
              <div custom-select data="status_prospect" value="saleObject.prospect" class=" age-select p-0" tabindex=""></div>
            </div>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">No Poach Companies<span class="required-field">*</span></label>
            <input class="form-control col-md-2" type="text" tabindex="">
          </div>

        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group label-floating is-empty">
            <label class="control-label">No Of Positions<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="2">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Vacancy<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="4">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Job Location<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="6">
          </div>
          <div class="form-group ">
            <div class="font-ind age-text">Primary Level<span class="required-field">*</span>
              <div custom-select data="status_prospect" value="saleObject.prospect" class=" age-select p-0" tabindex="23"></div>
            </div>
          </div>
          <div class="form-group ">
            <label class="col-md-3 p-0  age-text" >Relevent Experience<span class="required-field">*</span></label>
            <div class="col-md-9 p-r m-t-20">
              <div custom-select data="Experience" value="saleObject.prospect" class="col-md-6 age-select p-0" tabindex="23"></div>
              <div custom-select data="Experience" value="saleObject.prospect" class="col-md-6 age-select p-r p-l-20" tabindex="23"></div>
            </div>
          </div><br><br>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Remarks<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Target Employees<span class="required-field">*</span></label>
            <input class="form-control" type="text" tabindex="8">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-10 upward">
          <label for="textArea" class=" mrg-label ">
            <h3>Job Description<span class="required-field">*</span></h3></label>
          <textarea class="form-control mrg-textarea no-resize" rows="3" id="textArea"   tabindex="30" ></textarea>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-4">
        <div class="form-group ">
          <a ui-sref="app.create-prospect" >
            <button class="btn btn-primary data-button-cancel btn-text"  >Cancel</button>
          </a>
          <button class="btn btn-primary data-button btn-text" >Submit</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>









