
<div class="panel panel-default second-panel panelmrgs-prospect"  >

  <div class="panel-heading">
    {{titlereq}}
  </div>
  <div class="panel-body">
    <form name="Requirement">
      <div class="col-md-12">
        <div class="col-md-6 ">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Skill</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Location</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Pay Rate</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">JD</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Shift</label>
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Experience</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">No of Positions</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Bill Rate</label>
            <input class="form-control" type="text">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Source of Requirment</label>
            <input class="form-control" type="text">
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group ">
        <a >
          <button class="btn btn-primary data-button-cancel btn-text" ng-click="cancel()">Cancel</button>
        </a>
        <button class="btn btn-primary data-button btn-text" ng-click="ok()">Submit</button>
      </div>
    </div>
  </div>
</div>
