
<div class=" container col-md-12 pad-t-20 "  >

  <div class="panel panel-primary second-panel">
  <div class="panel-heading">
    Add New Requirement
  </div>
  <div class="panel-body">
    <div class="row">
          <label  style="margin-top: 20px;
    color: green;
    margin-left: 20px;"><h4>Req ID Created 11W41A0532</h4></label>
    <div class=" pull-right">
      <div  class="form-group label-floating is-empty col-md-10">
        <label class="control-label">Status</label>
        <input class="form-control" type="text">
      </div>
    </div></div>
    <hr style="width: 100%;
    border-top: 2px solid #8c8b8b;
    margin-top: 19px;">

    <form name="Requirement">
      <div class="col-md-12">
        <div class="col-md-5 col-pad">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Name</label>
            <input class="form-control" type="text" tabindex="1">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Requirement Type</label>
            <input class="form-control" type="text" tabindex="3">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Office Location</label>
            <input class="form-control" type="text" tabindex="5">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Applicable Consulting Fee</label>
            <input class="form-control" type="text" tabindex="7">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Manager</label>
            <input class="form-control" type="text" tabindex="2">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Permanent Staffing</label>
            <input class="form-control" type="text" tabindex="4">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Practice</label>
            <input class="form-control" type="text" tabindex="6">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Priority</label>
            <input class="form-control" type="text" tabindex="8">
          </div>
        </div>
      </div>
      <hr style="width: 100%;
    border-top: 2px solid #8c8b8b;">
      <div class="col-md-12">
        <div class="col-md-5 col-pad">
          <div class="form-group label-floating is-empty">
            <label class="control-label">Job Title</label>
            <input class="form-control" type="text" tabindex="1">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Functional Area</label>
            <input class="form-control" type="text" tabindex="3">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Qualification</label>
            <input class="form-control" type="text" tabindex="5">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Age Group</label>
            <input class="form-control col-md-2" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Experience</label>
            <input class="form-control col-md-2" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">CTC Range</label>
            <input class="form-control col-md-2" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Industry</label>
            <input class="form-control col-md-2" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">No Poach Companies</label>
            <input class="form-control col-md-2" type="text" tabindex="">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group label-floating is-empty">
            <label class="control-label">No Of Positions</label>
            <input class="form-control" type="text" tabindex="2">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Vacancy</label>
            <input class="form-control" type="text" tabindex="4">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Job Location</label>
            <input class="form-control" type="text" tabindex="6">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Primary Level</label>
            <input class="form-control" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Relevent Experience</label>
            <input class="form-control" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Remarks</label>
            <input class="form-control" type="text" tabindex="">
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Target Employees</label>
            <input class="form-control" type="text" tabindex="8">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 upward">
          <label for="textArea" class=" mrg-label ">
            <h3>Job Description<span class="required-field">*</span></h3></label>
          <textarea class="form-control mrg-textarea no-resize" rows="3" id="textArea"  required tabindex="30" alphnum-dot></textarea>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-4">
        <div class="form-group ">
          <a >
            <button class="btn btn-primary data-button-cancel btn-text" ui-sref="app.create-prospect" >Cancel</button>
          </a>
          <button class="btn btn-primary data-button btn-text" >Submit</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>









