<div class="">
  <form name="newDiscussionForm" novalidate>
    <div class="addDiscusHeading modal-header ">
      <h3 class="modal-title "> Add Discussions</h3></div>
    <div class="modal-body ng-binding ng-scope ">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 form-custom-padding">
            <div class="form-group label-floating is-empty">
              <label for="i1" class="control-label">Contact Person Name</label>
              <input type="text" class="form-control" id="i1" ng-model="discussion.name" required>
            </div>
            <div class="form-group">
              <div class="input-group col-md-9 present">
                <input type="text" class="form-control hand-cursor"  placeholder="Date" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"
                       show-button-bar="false" ng-required="true" ng-click="open($event,'opened')">
                                                <span class="input-group-addon" id="basic-addon2">
            <img src="img/calendar_icon.png" class="calendar-img " alt="" /></span>
              </div>
            </div>
          <div class="form-group">
            <label class="control-label">Type of Discussion</label>
          <div  custom-select data="status" ></div>
          </div>

        </div>

          <div class="col-md-6 form-custom-padding">
            <div class="form-group label-floating is-empty">
              <label for="i7" class="control-label">Venue</label>
              <input type="text" class="form-control" id="i7" ng-model="discussion.venue" required>
            </div>
            <div class="form-group">
              <div class="input-group col-md-9">
                <input type="time" class="form-control"  placeholder="Time" ng-model="discussion.time" required>

              </div>
            </div>
            <div class="form-group diss-radios-form">
              <div class="radio radio-primary">
                <label>
                  <input type="radio" name="call" id="optionsRadios1" value="FRESH" checked="true" ng-model="discussion.calltype">
                  <span class="circle" ></span>
                  <span class="check" ></span>
                  Fresh Call
                </label>
                <label>
                  <input type="radio" value="FOLLOW_UP" name="call" ng-model="discussion.calltype">
                  <span class="circle"></span>
                  <span class="check"></span>
                  Follow Up Call
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">


          <div class="col-md-11 upward">
            <label for="textArea" class=" mrg-label"><h4>Discussion Summary</h4></label>
            <textarea class="form-control mrg-textarea" rows="3" id="textArea" ng-model="discussion.summary" required></textarea>
          </div>
      </div>
       <div class="row">
         <div class="col-md-6 form-custom-padding">
           <div class="form-group is-empty is-fileinput">
             <input type="file" id="inputFile4" ngf-select="upload($files)" ng-model="files" ngf-multiple="true" >
             <div class="input-group">
               <input type="text" readonly="" class="form-control" placeholder="No selected file" >
                <span class="input-group-btn input-group-sm">
                   <button type="button" class="btn warm-status btn-sm">
                    <i class="fa fa-paperclip">&nbsp;&nbsp;&nbsp;Attach File</i>
                  </button>
                </span>
             </div>
             <span class="material-input control-label">Supported file format PDF,DOC,PPT.</span>
           </div>
         </div>
       </div>
       <div data-cg-busy="{promise:uploadPromise,message:'Uploading Files'}"></div>
       <!--<button ngf-select="upload($files)" multiple
            accept="image/*">Select Files</button>-->
      <div class="centerButton" data-cg-busy="{promise:discussionPromise,message:'Creating Discussions'}">
        <a href="javascript:void(0)" class="btn btn-raised  data-button-cancel" ng-click="cancel()">Cancel</a>&nbsp;
        <a href="javascript:void(0)" ng-disabled='newDiscussionForm.$invalid' class="btn btn-raised  data-button-sub" ng-click="ok(discussion)">Submit</a>
      </div>

      </div>
  </form>
</div>

