<div class="container">
  <div class="panel panel-default second-panel up-margin">
    <div class="panel-heading">
      Prospect
    </div>
    <div class="panel-body">
      <div class="form-group pull-right">
        <div class="col-md-8">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Status">
            <div id="grad1-status"></div>
          </div>
        </div>
      </div>
      <hr class="line1">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Client Name">
          </div>
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Business Potential Numbers">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Legal Entity">
          </div>
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Quantum of Business Topline">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Quantum of Business Bottomline">
          </div>
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Business Vertical">
            <div id="grad1"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Expected date of Closure">

          </div>
          <div class="form-group">
            <input class="form-control bord-remove" type="text" placeholder="Reason of Lose">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-5">
        <div class="form-group">
          <a ui-sref="app.viewProspect">
          <button class="btn btn-primary data-button" >Cancel</button>
          </a>
          <button class="btn btn-primary data-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
