
  <div class="container col-md-12 all-dateinputs">

    <div class="panel panel-primary " style="padding-bottom: 20px">
      <div class=" panel-heading summary">

        <div class="panel-title ">Discussions</div>
      </div>
      <div class="row distance discussion-buton">
        <div class="pull-right">
          <button ng-click="openAddDiscussions()" class="btn btn-raised btn-info glyphicon glyphicon-plus "> </button>
        </div>
      </div>
      <hr class="line2">

<!--
    <div class="container-custom panel panel-default discussion-container " >
      <div class="container ">
        <div class="discussion-body">
          <div class="row ">
            <div class="col-lg-8 ">
              <table>
                <tr>
                  <td>
                    <label class="contact-person">
                      Contact Person:
                    </label>
                    <label class="person-name">
                      <h4>Rober Martin </h4>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Call:
                    </label>
                    <label class="call-follow">
                      Follow Up
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Discussion:
                    </label>
                    <label class="call-follow">
                      Email
                    </label>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-2 space-mrg" >

              <table>
                <tr>
                  <td>
                    <label class="date-venue">
                      20-04-2016,12:PM
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="date-venue">
                      Venue:
                    </label>
                    <label class="location-name">
                      Hyderabad
                    </label>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <div class=" col-lg-11 left-align summary-text" >
            <p class="summary-details">
              <span class="summary-head ">Summary: </span>&nbsp;
              Lorem Ipsum is ply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
          </div>

        </div>

      </div>

    </div>-->
<div  data-cg-busy="{promise:getDiscussionPromise,message:'Retrieving Discussions'}"></div>
    <div class="container-custom panel panel-default discussion-container" ng-repeat="discussion in discussions track by $index">
      <div class="container ">
        <div class="discussion-body">
          <div class="row ">
            <div class="col-lg-8 ">
              <table>
                <tr>
                  <td>
                    <label class="contact-person">
                      Contact Person:
                    </label>
                    <label class="person-name">
                      <h4>{{discussion.name}} </h4>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Type of Call:
                    </label>
                    <label class="call-follow">
                      {{discussion.type | spaceless }}
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="type-of-call">
                      Mode of Discussion:
                    </label>
                    <label class="call-follow">
                      {{discussion.mode}}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Logged by:
                    </label>
                    <label class="call-follow">
                      {{discussion.mode}}
                    </label>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-2 ">

              <table>
                <tr>
                  <td>
                    <label class="date-venue">{{discussion.date}}

            </label>
            </td>
            </tr>
                <tr>
                  <td>
                    <label class="date-venue">
                      Venue:
                    </label>
                    <label class="location-name">
                      {{discussion.venue}}
                    </label>
                  </td>
                </tr>
            </table>

          </div>

        </div>
        <div class=" col-lg-11 left-align summary-text">
          <p class="summary-details">
            <span class="summary-head ">Summary: </span>&nbsp;
            {{discussion.text}}
          </p>
          <!--<div>
            <div class="attachment">
              1 Attachment
            </div>
            <div class="attach-image">
              <img src="#" class="attach-image-detail"/>
              resume.png
            </div>
          </div>-->
        </div>
      </div>

    </div>

    </div>




