<div class="maincol-apply">
    <div class="container col-md-12 pad-t-20 maincol-apply" data-cg-busy="{promise:myPromise,message:'Loading prospects'}">
        <div class="panel panel-primary pan-col">
            <div class="panel-heading summary">Summary for the month of {{sumStartDate | date:'MMMM yyyy '}}{{sumEndDate}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="initialicons-div">
                        <div class="prospecticons-div">
                            <div class="target-div">
                                <div class="panel mini-box won-bord">
                                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src="img/won_icon.png" class="target">
                </span>
                                    <div class="box-info">
                                        <div class="met-won">WON</div>
                                        <div class="met-num">{{data.won}}</div>

                                    </div>
                                </div>
                            </div>
                            <div class="target-div">
                                <div class="panel mini-box lost-bord">
                                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src="img/lost_icon.png" class="prospect">
                </span>
                                    <div class="box-info">
                                        <div class="met-lost">LOST</div>
                                        <div class="met-num">{{data.lost}}</div>

                                    </div>
                                </div>
                            </div>
                            <div class="target-div">
                                <div class="panel mini-box closure-bord">
                                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src='img/closure_icon.png' class="empanel">
                </span>
                                    <div class="box-info">
                                        <div class="met-closure">AGREEMENT
                                            <br> ON CLOSURE</div>
                                        <div class="met-num">{{data.agreementOnClosure}}</div>

                                    </div>
                                </div>
                            </div>
                            <div class="target-div">
                                <div class="panel mini-box progress-bord">
                                    <span class="btn-icon btn-icon-round btn-icon-lg-alt">
                    <img src='img/work_in_progress_icon.png' class="empanel">
                </span>
                                    <div class="box-info">
                                        <div class="met-progress">WORK
                                            <br> IN PROGRESS</div>
                                        <div class="met-num">{{data.workInProgress}}</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
            </div>
            <div class="panel-body">
                <div class="row">
                    <h4 class="pull-left head">All Prospects</h4>
                    <div class="pull-right overall-pad date-pick-right-mrg">
                        <form name="form" class="form-inline" novalidate>
                            <div class="present date-rigght-mrg">
                                <div class="input-group col-md-4" style="margin-right: 10px">

                                    <input type="text" class="form-control bord-given " aria-describedby="basic-addon1" datepicker-popup="dd-MMMM-yyyy" ng-model="start" is-open="opened1" show-button-bar="false" ng-required="true" style="padding-left: 6px">
                                    <span class="input-group-addon cal-img hand-cursor" ng-click="open($event,'opened1')"><img src="img/calendar_icon.png" alt=""  /></span>
                                </div>
                                <div class="input-group col-md-4" style="margin-right: 6px">

                                    <input type="text" class="form-control bord-given " aria-describedby="basic-addon1" datepicker-popup="dd-MMMM-yyyy" ng-model="end" is-open="opened2" show-button-bar="false" ng-required="true" style="padding-left: 6px">
                                    <span class="input-group-addon cal-img hand-cursor" ng-click="open($event,'opened2')"><img src="img/calendar_icon.png" alt=""  /></span>
                                </div>

                                <button class="btn btn-primary btn-raised filter" ng-click="getProspectsByRange()" >Go</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-topdiv table-up-mrg">
          <div class="excel-row">
          <button class="btn btn-raised btn-info excel" type="button" ng-csv="getArray()" filename="prospect.csv" csv-header="getCSVHeader()" ng-if="filteredRows.length!=0">
            <img src="img/excel_upload_icon.png">
          </button>
</div>
          <table class="table table-bod table-hover m-n">
                <thead class="table-head">
                    <tr>
                        <th></th>
                        <th class="table-th-heading"> Legal Entity <span ng-click="sortType = 'legal_name'; sortReverse = !sortReverse"><img src="img/sort_icon.png"></span> </th>
                        <th class="table-th-heading">Business Unit <span ng-click="sortType = 'client_unit_name'; sortReverse = !sortReverse"><img src="img/sort_icon.png"></span></th>
                        <th class="table-th-heading">Annual Number</th>
                        <th class="table-th-heading">Annual Revenue</th>
                        <th class="table-th-heading">Exp.Closure Date
                        </th>
                        <th class="table-th-heading">Contact Name</th>
                        <th class="table-th-heading">Contact Number</th>
                        <th class="table-th-heading">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="prospect in filteredRows=(data.prospects | orderBy:sortType:sortReverse |companyFilter:selectedItem)| filter:$root.searchView">
                        <td>
                          <p style="border-radius: 50%;color: transparent;" ng-class="statusColor(prospect.prospect)"> </p>
                          <!--<p class=" " ng-class="statusColor(suspect.status)"></p>-->
                        </td>
                        <td class="hand-cursor td-text-color" ng-click="openEditProspect(prospect)">{{prospect.client.legalName}}</td>
                        <td>{{prospect.client.businessUnit}}</td>
                        <td>{{prospect.annual_rate_no?prospect.annual_rate_no:'--'}}</td>
                        <td>{{prospect.annual_rate_topline?prospect.annual_rate_topline:'--'}}</td>
                        <td>{{prospect.estimated_closure?(prospect.estimated_closure|date):'--'}}</td>
                        <td>000000</td>
                        <td>000000</td>
                        <td class="action-padding">
                            <table>
                                <tr>
                                    <td><img src="img/discussion_icon.png" tooltip="Discussions" class="action-distance hand-cursor" data-ng-click="openDiscussions(suspect)"></td>
                                    <td>
                                        <img src="img/share_icon.png" tooltip="Share" class="action-distance " ng-click="openShare('share',prospect)" ng-show="showShare(prospect)" data-ng-class="{'hand-cursor':showShare(prospect)}">
                                        <img src="img/share_hide.png"  class="action-distance " ng-hide="showShare(prospect)">
                                    </td>
                                    <td><img src="img/transfer_icon.png" tooltip="Transfer" class="action-distance " data-ng-class="{'hand-cursor':showTransfer(prospect)}" ng-click="openShare('tansfer',prospect)" ng-show="showTransfer(prospect)">
                                        <img src="img/transfer_hide.png"  class="action-distance " ng-hide="showTransfer(prospect)">
                                    </td>
                                    <!--<td><img src="img/revoke_icon.png" tooltip="Revoke" class="hand-cursor"></td>-->
                                </tr>
                            </table>
                        </td>
                        <tr data-ng-if="filteredRows.length ===0">
                            <td colspan="11">No Prospects!</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <span data-ng-hide="filteredRows.length ===0">
      <pagination class="pagination-sm pull-right"
                  page="data.currentPage"
                  total-items="data.totalItems"
                  ng-model="data.currentPage"
                  ng-change="getPossibilities(data.currentPage,data.numPerPage)"
                  max-size="4"
                  items-per-page="data.numPerPage"
                  rotate="false"
                  boundary-links="false">
      </pagination>
  </span>
    </div>
</div>
