<div class="maincol-apply">


  <div class="container all-dateinputs">

    <div class="pull-right">

      <table>
        <tr>
          <td class="add-discussions ">

            <img src="img/icon_add.png" class="hand-cursor" ng-click="displayPopUp('popUp','block')"/>

          </td>
          <td class="add-discussions"><img src="img/icon_edit.png"/></td>
          <td class="add-discussions"><img src="img/icon_delete.png"/></td>
        </tr>
      </table>
    </div>


    <div class="container no-border">
      <div class="no-border  modal " id="popUp">
        <div class="no-border modal-dialog modalCenter ">
          <div class="modal-content no-border">

            <div class="panel panel-info no-border">
              <div class="panel-heading no-border">
                <div class="panel-title no-border">
                  <h3>Add Discussions</h3>
                </div>
              </div>
              <div class="panel-body no-border">
                <form name="addNewDis" >
                  <div class="form-group">
                    <div class="panel-body no-border">
                      <div class="row">
                        <div class="col-lg-6">
                          <label class="control-label" for="inputLarge">Contact person</label>
                          <input class="form-control input-lg" type="text" id="inputLarge1">
                          <label class="control-label" for="inputLarge">Date
                          </label>
                          <input class="form-control input-lg" type="date" id="inputLarge2">

                          <!--<textarea class="form-control input-lg"  id="inputLarge"></textarea>-->
                          <label for="s1">Type Of Discussions</label>
                          <select id="s1" class="form-control">
                            <option value="Teliphonic">Telephonic</option>
                            <option value="Email">Email</option>
                            <option value="Inperson">Inperson</option>
                          </select>
                        </div>
                        <div class="col-lg-6">
                          <label class="control-label" for="inputLarge">Venue</label>
                          <input class="form-control input-lg" type="text" id="inputLarge">
                          <label class="control-label" for="inputLarge">Time
                          </label>
                          <input class="form-control input-lg" type="time" id="inputLarge">
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                              <span class="circle">
                              </span>
                              <span class="check">
                              </span>
                              &nbsp; Freshcall
                            </label>
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                                     checked=""><span class="circle"></span><span class="check"></span>
                              &nbsp;&nbsp;Follow Up Call
                            </label>

                          </div>
                        </div>
                      </div>
                      <h3>Discussion Summary</h3>
                      <div class="fileAttach">
                        <textarea class="input-lg no-borders" cols=50>
                        </textarea>

                      </div>

                      <div class="centerBtn">
                      <span>
                           <button type="button" class="btn btn-default "
                                   ng-click="closeModal('popUp','none')">Close</button>
                           <button type="button" class="btn btn-primary">Save </button>
                      </span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="possibilities">
        <h4 class="pull-left head">
          <label class=" dropdown checkBoxDrop ">
            <input type="checkbox" class="checkBox">
            <span class="caret checkBxDrop" data-toggle="dropdown"></span>
            <ul class="dropdown-menu">
              <li><a href="">All</a></li>
              <li><a href="">read</a></li>
              <li><a href="">unread</a></li>
            </ul>
          </label>
        <span class="pull-right col-md-4">
          <div class="input-group">
            <input type="text" class="form-control btn-rounded" placeholder="Search By Location,Company Name,Contact"
                   aria-describedby="basic-addon3">
               <span class="input-group-addon" id="basic-addon3">
                 <i class="fa fa-search"></i>
               </span>
          </div>
        </span>
        </h4>
      </div>

    </div>
    <div class="panel panel-info">
      <div class=" panel-heading">

        <h3 class="panel-title">Discussions</h3>
      </div>
    </div>
    <div class="container-custom">
      <div class="container ">
        <input type="checkbox" class="Discus-checkBx"/>
        <div class="discussion-body">
          <div class="row ">
            <div class="col-lg-9 ">
              <table>
                <tr>
                  <td>
                    <label class="contact-person">
                      <h3>Contact Person: </h3>
                    </label>
                    <label class="person-name">
                      <h3>Rober Martin </h3>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Call:
                    </label>
                    <label class="call-follow">
                      Follow Up
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Discussion:
                    </label>
                    <label class="call-follow">
                      Email
                    </label>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-3">
              <table>
                <tr>
                  <td>
                    <label class="date-venue">
                      20-04-2016,12:PM
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="date-venue">
                      Venue:
                    </label>
                    <label class="location-name">
                      Hyderabad
                    </label>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <div class=" col-lg-11 left-align">
            <p class="summary-details">
              <span class="summary-head ">Summary: </span>&nbsp;
              Lorem Ipsum is ply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="container-custom">
      <div class="container ">
        <input type="checkbox" class="Discus-checkBx"/>
        <div class="discussion-body">
          <div class="row ">
            <div class="col-lg-9 ">
              <table>
                <tr>
                  <td>
                    <label class="contact-person">
                      <h3>Contact Person: </h3>
                    </label>
                    <label class="person-name">
                      <h3>Rober Martin </h3>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Call:
                    </label>
                    <label class="call-follow">
                      Follow Up
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Discussion:
                    </label>
                    <label class="call-follow">
                      Email
                    </label>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-3">
              <table>
                <tr>
                  <td>
                    <label class="date-venue">
                      20-04-2016,12:PM
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="date-venue">
                      Venue:
                    </label>
                    <label class="location-name">
                      Hyderabad
                    </label>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <div class=" col-lg-11 left-align">
            <p class="summary-details">
              <span class="summary-head ">Summary: </span>&nbsp;
              Lorem Ipsum is ply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
          <span>
          <div>
            <div class="attachment">
                1 Attachment
              </div>
            <div class="attach-image">
              <img src="#" class="attach-image-detail"/>
              resume.png
            </div>
          </div>
            </span>
          </div>

        </div>

      </div>

    </div>
    <div class="container-custom">
      <div class="container ">
        <input type="checkbox" class="Discus-checkBx"/>
        <div class="discussion-body">
          <div class="row ">
            <div class="col-lg-9 ">
              <table>
                <tr>
                  <td>
                    <label class="contact-person">
                      <h3>Contact Person: </h3>
                    </label>
                    <label class="person-name">
                      <h3>Rober Martin </h3>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Call:
                    </label>
                    <label class="call-follow">
                      Follow Up
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Discussion:
                    </label>
                    <label class="call-follow">
                      Email
                    </label>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-3">
              <table>
                <tr>
                  <td>
                    <label class="date-venue">
                      20-04-2016,12:PM
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="date-venue">
                      Venue:
                    </label>
                    <label class="location-name">
                      Hyderabad
                    </label>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <div class=" col-lg-11 left-align">
            <p class="summary-details">
              <span class="summary-head ">Summary: </span>&nbsp;
              Lorem Ipsum is ply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
          </div>
        </div>

      </div>
    </div>
    <div class="container-custom">
      <div class="container ">
        <input type="checkbox" class="Discus-checkBx"/>
        <div class="discussion-body">
          <div class="row ">
            <div class="col-lg-9 ">
              <table>
                <tr>
                  <td>
                    <label class="contact-person">
                      <h3>Contact Person: </h3>
                    </label>
                    <label class="person-name">
                      <h3>Rober Martin </h3>
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Call:
                    </label>
                    <label class="call-follow">
                      Follow Up
                    </label>
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="type-of-call">
                      Type Of Discussion:
                    </label>
                    <label class="call-follow">
                      Email
                    </label>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-3">
              <table>
                <tr>
                  <td>
                    <label class="date-venue">
                      20-04-2016,12:PM
                    </label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="date-venue">
                      Venue:
                    </label>
                    <label class="location-name">
                      Hyderabad
                    </label>
                  </td>
                </tr>
              </table>
            </div>

          </div>
          <div class=" col-lg-11 left-align">
            <p class="summary-details">
              <span class="summary-head ">Summary: </span>&nbsp;
              Lorem Ipsum is ply dummy text of the printing and typesetting industry.
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type specimen book
            </p>
          <span>
          <div>
            <div class="attachment">
                1 Attachment
              </div>
            <div class="attach-image">
              <img src="#" class="attach-image-detail"/>
              resume.png
            </div>
          </div>
            </span>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
