<div class="maincol-apply">
  <div class="container all-dateinputs">
    <div class="pull-right">
      <!--<a ui-sref="" >

      </a>--><!--<a ui-sref="" >

     </a>-->
      <img src="img/icon_add.png"/>
      <img src="img/icon_edit.png"/>
      <img src="img/icon_delete.png"/>
    </div>


  <div class="container">
    <div class="possibilities">
      <h4 class="pull-left head">
        <label class=" dropdown checkBoxDrop ">
          <input type="checkbox" class="checkBox">

      <span class="caret checkBxDrop" data-toggle="dropdown"></span>
          <ul class="dropdown-menu">
            <li><a href="">All</a></li>
            <li><a href="">read</a></li>
            <li><a href="">unread</a></li>

          </ul>

        </label>
        <span class="pull-right col-md-4">
          <div class="input-group">
            <input type="text" class="form-control btn-rounded" placeholder="Search By Location,Company Name,Contact" aria-describedby="basic-addon3">
               <span class="input-group-addon" id="basic-addon3">
                 <i class="fa fa-search"></i>
               </span>
          </div>
        </span>
      </h4>
    </div>

  </div>
    <div class="panel panel-primary">
      <div class=" panel-heading ">

      <h3 class="panel-title">Discussions</h3>
    </div>
      <!--<div class="panel-body">
        Panel content
      </div>-->
    </div>
</div>
</div>
